{% macro render_error_msg(msg) %}
    <div class="columns">
        <div class="row alert">
            <div class="columns">
                <p class="error no-margin">
                    <span class="alert-text">{{ msg }}</span>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_section_title(title) %}
    <h3>{{ title }}</h3>
{% endmacro %}

{% macro nav_loop(menu, pages) %}
  {% import _self as macros %}
  {% for menuentry in menu %}
    {% set page_active = '' %}
    {% set page_url = '' %}
    {% set page_title = '' %}
    {% for p in pages.children.visible %}
      {% if menuentry.path == p.folder %}
        {% set page_active = (p.active or p.activeChild) ? 'is-selected' : '' %}
        {% set page_url = p.url %}
        {% set page_title = p.title %}
      {% endif %}
    {% endfor %}
    {% if page_url is not empty %}
      <a class="menu-tab {{ page_active }}" href="{{ page_url|e }}" title="{{ page_title|t|e }}">
        <div class="link-menu-tab">
            {% if menuentry.icon %}<span class="ic {{menuentry.icon}}"></span>{% endif %}
            <span class="text">{{ page_title|t|e }}</span>
        </div>
      </a>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro nav_menu_loop(menu, pages) %}
  {% import _self as macros %}
  <div class="header-menu" style="display: none;" role="navigation" aria-label="Navigation Menu">
    <div class="header-menu-close">
        <button type="button" class="button ">Menu<span class="ic-ic-cross"></span></button>
    </div>
    <div class="menu-main-links">
      <div class="highlighted">
      {% for menuentry in menu %}
        {% if menuentry.highlighted %}
          {% set page_active = '' %}
          {% set page_url = '' %}
          {% set page_title = '' %}
          {% for p in pages.children.visible %}
            {% if menuentry.path == p.folder %}
              {% set page_active = (p.active or p.activeChild) ? 'is-active' : '' %}
              {% set page_url = p.url %}
              {% set page_title = p.title %}
            {% endif %}
          {% endfor %}
          {% if page_url is not empty %}
            <a href="{{ page_url|e }}" class="header-menu-entry {{ page_active }}" title="{{ page_title|t|e }}">
              <span class="text">{{ page_title|t|e }}</span>
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
      {% for menuentry in menu %}
        {% if not menuentry.highlighted %}
          {% set page_active = '' %}
          {% set page_url = '' %}
          {% set page_title = '' %}
          {% for p in pages.children.visible %}
            {% if menuentry.path == p.folder %}
              {% set page_active = (p.active or p.activeChild) ? 'is-selected' : '' %}
              {% set page_url = p.url %}
              {% set page_title = p.title %}
            {% endif %}
          {% endfor %}
          {% if page_url is not empty %}
            <a href="{{ page_url|e }}" class="{{ page_active }}" title="{{ page_title|t|e }}">
              <span class="text">{{ page_title|t|e }}</span>
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="menu-sub-links">
    </div>
  </div>
{% endmacro %}

{% macro footer_nav_loop(menu, pages) %}
  {% import _self as macros %}
  {% for menuentry in menu %}
    {% set page_active = '' %}
    {% set page_url = '' %}
    {% set page_title = '' %}
    {% for p in pages.children.visible %}
      {% if menuentry.path == p.folder %}
        {% set page_active = (p.active or p.activeChild) ? 'active' : '' %}
        {% set page_url = p.url %}
        {% set page_title = p.title %}
      {% endif %}
    {% endfor %}
    {% if page_url is not empty %}
      <a class="icon" href="{{ page_url }}" class="{{ active_page }}" title="{{ page_title|t|e }}">
        <span>{{ page_title|t|e }}</span>
      </a>
    {% endif %}
  {% endfor %}
{% endmacro %}
