{% macro render_error_msg(msg) %}
    <div class="columns">
        <div class="row alert">
            <div class="columns">
                <p class="error no-margin">
                    <span class="alert-text">{{ msg }}</span>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_title(title) %}
    <h3>{{ title }}</h3>
{% endmacro %}

{% macro nav_loop(menu, pages) %}
    {% import _self as macros %}
    {% set header_title_extend = theme_var('header.title_extend') %}
    {% for menuentry in menu %}
        {% set p = pages.find(menuentry.path) %}
        {% if p and p.visible %}
            {% set page_active = (p.active or p.activeChild) ? 'is-selected' : '' %}
            {% set page_url = p.url %}
            {% set page_title = p.header.custom_title.html %}
            {% set page_menu_title = p.header.custom_title.menu %}
            {% if page_url is not empty %}
                <a class="menu-tab {{ page_active }}" href="{{ page_url|e }}" title="{{ page_menu_title|t(header_title_extend)|e }}">
                    <div class="link-menu-tab">
                        {% if menuentry.icon %}<span class="{{menuentry.icon}}"></span>{% endif %}
                        <span class="text">{{ page_title|t(header_title_extend)|e }}</span>
                    </div>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro footer_nav_loop(menu, pages) %}
    {% import _self as macros %}
    {% set header_title_extend = theme_var('header.title_extend') %}
    {% for menuentry in menu %}
        {% set p = pages.find(menuentry.path) %}
        {% if p and p.visible %}
            {% set page_active = (p.active or p.activeChild) ? 'active' : '' %}
            {% set page_url = p.url %}
            {% set page_title = p.header.custom_title.html ?? p.title %}
            {% set page_menu_title = p.header.custom_title.menu ?? p.title %}
            {% if page_url is not empty %}
                <a class="icon" href="{{ page_url }}" class="{{ active_page }}" title="{{ page_menu_title|t(header_title_extend)|e }}" {% if menuentry.target_blank %} target="_blank" {% endif %}>
                    <span>{{ page_title|t(header_title_extend)|e }}</span>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
