{% macro render_title (title) %}
    <h3>{{ title }}</h3>
{% endmacro %}

{% macro render_group_title (title) %}
    <h4>{{ title }}</h4>
{% endmacro %}

{% macro render_fact_title (title, class) %}
    <h4
    {% if class %}
    class="{{ class }}"
    {% endif %}
    >{{ title }}</h4>
{% endmacro %}

{% macro render_sub_navigation (title, hash) %}
    <a class="js-anchor-target-entry" href="#{{ hash }}">
        <span class="text">{{ title }}</span>
    </a>
{% endmacro %}

{% macro render_address_icon (class, title, altTitle) %}
   {% if class == 0 %}
      {# Institution #}
      <span class="ic-ic-intituition"
    {% elseif class == 1 %}
      {# Einheit #}
      <span class="ic-ic-einheit"
    {% elseif class == 2 %}
      {# Person #}
      <span class="ic-ic-people"
    {% elseif class == 3 %}
      {# Freie Adresse #}
      <span class="ic-ic-mailto"
    {% else %}
      <span
    {% endif %}

    {% if altTitle %}
      title="{{ altTitle }}"
    {% elseif title %}
      title="{{ title }}"
    {% endif %}
    ></span>
    <span class="text">{{ title }}</span>
{% endmacro %}

{% macro render_hit_types (types, isTeaser, isMobile) %}
  {% if types and types|length > 0 %}
    <div class="info--right {% if isTeaser %}teaser-info{% endif %} {% if isMobile %}show-for-xsmall-only {% else %} hide-for-xsmall-only {% endif %}">
    {% for typ in types %}
      <span>{{ typ }}</span>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_metadata_icon (class, title, altTitle) %}
    {% if class == 0 %}
      {# Fachaufgabe #}
      <span class="ic-ic-zulassungsverfahren"
    {% elseif class == 1 %}
      {# Geodatensatz #}
      <span class="ic-ic-karte"
    {% elseif class == 2 %}
      {# Literatur #}
      <span class="ic-ic-katalog"
    {% elseif class == 3 %}
      {# Geodatendienst #}
      <span class="ic-ic-dienste"
    {% elseif class == 4 %}
      {# Projekt #}
      <span class="ic-ic-projekt"
    {% elseif class == 5 %}
      {# Datensammlung #}
      <span class="ic-ic-metadaten"
    {% elseif class == 6 %}
      {# Informationssystem #}
      <span class="ic-ic-chemie"
    {% else %}
      <span
    {% endif %}

    {% if altTitle %}
      title="{{ altTitle }}"
    {% elseif title %}
      title="{{ title|t }}"
    {% endif %}
    ></span>
    {% if title %}
      <span class="text">{{ title|t }}</span>
    {% endif %}
{% endmacro %}

{% macro render_hit_searchterm (isInspire, isOpendata, isSecure) %}
  {% if isInspire or isOpendata or isSecure %}
    <div class="icon--info">
    {% if isSecure %}
      <div class="helper icon info">
          <span class="ic-ic-lock-closed" title="{{ "COMMON.RESULT_HASACCESSCONTRAINTS"|t }}"></span>
          <span class="text">{{ "COMMON.RESULT_HASACCESSCONTRAINTS"|t }}</span>
      </div>
    {% endif %}
    {% if isInspire %}
      <div class="helper icon info">
          <span class="ic-ic-inspire" title="INSPIRE"></span>
          <span class="text">INSPIRE</span>
      </div>
    {% endif %}
    {% if isOpendata %}
      <div class="helper icon info">
          <span class="ic-ic-opendata" title="Open Data"></span>
          <span class="text">Open Data</span>
      </div>
    {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_hit_logo (partner) %}
  {% if partner %}
    <div class="teaser-logo-partner">
      {% if partner != "all" and partner != "bund" %}
        <img src="{{ url('theme://images/partner/svg/' ~ partner ~ '.svg') }}" alt="{{partner}}" title="{{partner}}"/>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_hit_time (title, time) %}
  {% if time and time.type and (time.t0 or time.t1 or time.t2) %}
  <div class="helper date">
    {% if title %}
      <b>{{ title }}</b>:
    {% endif %}
    {% if "seitX" in time.type and time.t1 %}
      <span>{{ "COMMON.TIME_SINCE"|t ~ " " ~ time.t1 ~ " " ~ "COMMON.TIME_UNTILNOW"|t }}, gegenwärtig aktuell</span>
    {% elseif "seit" in time.type and time.t1 %}
      <span>{{ "COMMON.TIME_SINCE"|t ~ " " ~ time.t1 ~ " " ~ "COMMON.TIME_UNTILUNKNOWN"|t }}, gegenwärtige Aktualität unklar</span>
    {% elseif "von" in time.type and time.t1 and time.t2 %}
      {% if time.t1 is same as(time.t2) %}
        <span>{{ time.t1 }}</span>
      {% else %}
        <span>{{ time.t1  ~ " " ~  "COMMON.TIME_UNTIL"|t ~ " " ~ time.t2 }}</span>
      {% endif %}
    {% elseif "am" in time.type and time.t0 %}
      <span>{{ time.t0 }}</span>
    {% elseif "bis" in time.type and time.t2 %}
      <span>{{ "COMMON.TIME_UNTIL"|t ~ " " ~  time.t2 }}</span>
    {% endif %}
  </div>
  {% endif %}
{% endmacro %}

{% macro render_fact_title (title, num, class) %}
  <h4 {% if class %}class="{{ class }}"{% endif %}>
    {{ title }}
    {% if num %}
      <span>({{ num }})</span>
    {% endif %}
  </h4>
{% endmacro %}

{% macro render_object_links (title, items, partners) %}
  {% if title %}
    <h4>{{ title }} ({{ items|length }})</h4>
  {% endif %}
  {% if items %}
    <div class="document-list">
      {% for item in items %}
        <div class="list-item">
          {{ _self.render_metadata_link(item, partners) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_address_links (title, items) %}
  {% if title %}
    <h4>{{ title }} ({{ items|length }})</h4>
  {% endif %}
  {% if items %}
    <div class="document-list">
      {% for item in items %}
        <div class="list-item">
          {{ _self.render_address_link(item) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_metadata_link (item, partners) %}
  {% set uuid = item.uuid %}
  {% set type = item.type %}
  {% set title = item.title %}
  {% set description = item.description %}
  {% set attachedToField = item.attachedToField %}
  {% set entryId = item.entryId %}
  {% set serviceType = item.serviceType %}
  {% set serviceUrl = item.serviceUrl %}
  {% set previews = item.previews %}

{# Titel #}
  {% if previews|length > 0 %}
    <div class="image">
      <div class="helper icon">
        {{ _self.render_metadata_icon(type, 'TODO', 'TODO') }}
      </div>
      <a href="?docuuid={{ uuid }}" class="icon" title="{{ title }}">
        <span class="text">{{ title }}</span>
      </a>
  {% else %}
    <div class="no-image">
      <div class="helper icon">
        {{ _self.render_metadata_icon(type, 'TODO', 'TODO') }}
      </div>
      <a href="?docuuid={{ uuid }}" class="icon" title="{{ title }}">
        {{ title }}
      </a>
  {% endif %}

{# Vorschau #}
  {% if previews|length > 1 %}
    <div class="preview">
      <div class="swiper-container swiper-container-background">
        <div class="swiper-wrapper">
        {% for preview in previews %}
          <div class="swiper-slide">
            <p class="caption">
              <a target="_blank" class="external-link" href="{{ preview }}" title="{{ title }}" rel="noopener noreferrer">
                <img class="preview_image"{% if 'http:' in  preview %} src="./" data-src={% else %} src={% endif %}"{{ preview }}" title="{{ title }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
                <noscript>
                  <img class="preview_image" src="{{ preview }}" title="{{ title }}" alt="img">
                </noscript>
              </a>
            </p>
          </div>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  {% elseif previews|length == 1 %}
    <div class="preview">
      {% for preview in previews %}
        <a target="_blank" class="external-link" href="{{ preview }}" title="{{ title }}" rel="noopener noreferrer">
            <img class="preview_image"{% if 'http:' in  preview %} src="./" data-src={% else %} src={% endif %}"{{ preview }}" title="{{ title }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
            <noscript>
              <img class="preview_image" src="{{ preview }}" title="{{ title }}" alt="img">
            </noscript>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{# Beschreibung #}
  {% if description %}
    <div class="description">
      <small class="description">{{ convertUrlInText(description)|raw }}</small>
    </div>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_address_link (item) %}
  {% set uuid = item.uuid %}
  {% set type = item.type %}
  {% set title = item.title %}
  {% set description = item.description %}

  {# Titel #}
  <div class="no-image">
      <div class="helper icon">
          {{ _self.render_address_icon(type, "TODO", "TODO") }}
      </div>
      <a href="?docuuid={{ uuid }}&type=address" class="icon" title="{{ title }}">
          <span class="text">{{ title }}</span>
      </a>
  </div>
{% endmacro %}

{% macro render_contact_facts (title, items, sortAddressTyp, isAddress) %}
  {% set break = false %}
  {% for item in items if not break %}
    {% set role = item.role %}
    {% set addresses = item.addresses %}
    {% set streets = item.streets %}
    {% set postcode = item.postcode %}
    {% set city = item.city %}
    {% set country = item.country %}
    {% set mail = item.mail %}
    {% set phone = item.phone %}
    {% set facsimile = item.facsimile %}
    {% set url = item.url %}
    {% set service_time = item.service_time %}

    {# titel #}
    {% if title %}
      {{ _self.render_group_title(title) }}
    {% endif %}
    {% if role %}
      {{ _self.render_fact_title(role) }}
    {% endif %}
    <p>
    {# Adressen #}
    {% set types = sortAddressTyp %}
    {% for type in types %}
        {% for address in addresses %}
            {% if address.type == type %}
                {% if address.uuid %}
                    <a class="link-line" href="?docuuid={{ address.uuid }}&type=address" title="{{ address.title }}">{{ address.title }}</a>
                {% else %}
                    {{ address.title }}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </p>
    {% if isAddress %}
        <p>
        {# Street #}
        {% if streets %}
            {% for street in streets %}
                {% set numStreet = loop.index %}
                {{ street }}
                {% if numStreet < streets|length %}
                  <br>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        {# Postcode #}
        {% if postcode %}
            {{ postcode }}
        {% endif %}
        {# City #}
        {% if city %}
            {{ city }}
            <br>
        {% endif %}
        {# Country #}
        {% if country %}
            {{ country }}
        {% endif %}
        </p>
    {% endif %}
    {# E-Mail #}
    {% if mail %}
    <div>
        <a class="icon" href="mailto:{{ mail }}" title="{{ mail }}">
            <span class="ic-ic-mailto"></span>
            <span class="text">{{ mail }}</span>
        </a>
    </div>
    {% endif %}
    {# Telefon #}
    {% if phone %}
    <div>
        <a class="icon" href="tel:{{ phone }}" title="{{ phone }}">
            <span class="ic-ic-phone"></span>
            <span class="text">{{ phone }}</span>
        </a>
    </div>
    {% endif %}
    {# Fax #}
    {% if facsimile %}
    <div>
        <a class="icon" href="fax:{{ facsimile }}" title="{{ facsimile }}">
            <span class="ic-ic-fax"></span>
            <span class="text">{{ facsimile }}</span>
        </a>
    </div>
    {% endif %}
    {# URL #}
    {% if url %}
    <div>
        <a target="_blank" class="icon external-link" href="{{ url }}" title="{{ url }}">
            <span class="ic-ic-external"></span>
            <span class="text">{{ url }}</span>
        </a>
    </div>
    {% endif %}
    {# Servicezeiten #}
    {% if service_time %}
    <div>
        {{ "SEARCH_DETAIL.T02_ADDRESS_HOURS_OF_SERVICE"|t }}
        {{ service_time|raw }}
    </div>
    {% endif %}
    {% set break = true %}
  {% endfor %}
{% endmacro %}

{% macro render_contact (items, sortAddressTyp, hash) %}
    {% for item in items %}
        {% set num = loop.index - 1 %}
        {% set role = item.role %}
        {% set role_name = item.role_name %}
        {% set addresses = item.addresses %}
        {% set streets = item.streets %}
        {% set postcode = item.postcode %}
        {% set city = item.city %}
        {% set country = item.country %}
        {% set mail = item.mail %}
        {% set phone = item.phone %}
        {% set facsimile = item.facsimile %}
        {% set url = item.url %}
        {% set service_time = item.service_time %}

        <div class="sub-section">
            <div class="table table--lined">
                <a class="anchor" id="{{ hash }}_contact-{{ num }}"></a>
                <h5>{{ role_name }}</h5>
                <table>
                    <tr>
                        <td>
                            <p>
                            {# Adressen #}
                                {% set types = sortAddressTyp %}
                                {% for type in types %}
                                    {% for address in addresses %}
                                        {% if address.type == type %}
                                            {% if address.uuid %}
                                                <a class="link-line" href="?docuuid={{ address.uuid }}&type=address" title="{{ address.title }}">{{ address.title }}</a>
                                            {% else %}
                                                {{ address.title }}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {# Street #}
                                {% if streets %}
                                    {% for street in streets %}
                                        {% set numStreet = loop.index %}
                                        {{ street }}
                                        {% if numStreet < streets|length %}
                                          <br>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                {% endif %}
                            {# Postcode #}
                                {% if postcode %}
                                    {{ postcode }}
                                {% endif %}
                            {# City #}
                                {% if city %}
                                    {{ city }}
                                    <br>
                                {% endif %}
                            {# Country #}
                                {% if country %}
                                    {{ country }}
                                {% endif %}
                            </p>
                        {# E-Mail #}
                            {% if mail %}
                            <div>
                                <a class="icon" href="mailto:{{ mail }}" title="{{ mail }}">
                                    <span class="ic-ic-mailto"></span>
                                    <span class="text">{{ mail }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Telefon #}
                            {% if phone %}
                            <div>
                                <a class="icon" href="tel:{{ phone }}" title="{{ phone }}">
                                    <span class="ic-ic-phone"></span>
                                    <span class="text">{{ phone }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Fax #}
                            {% if facsimile %}
                            <div>
                                <a class="icon" href="{{ facsimile }}" title="{{ facsimile }}">
                                    <span class="ic-ic-fax"></span>
                                    <span class="text">{{ facsimile }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# URL #}
                            {% if url %}
                            <div>
                                <a target="_blank" class="icon external-link" href="{{ url }}" title="{{ url }}">
                                    <span class="ic-ic-external"></span>
                                    <span class="text">{{ url }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Servicezeiten #}
                            {% if service_time %}
                            <div>
                                {{ "SEARCH_DETAIL.T02_ADDRESS_HOURS_OF_SERVICE"|t }}
                                {{ service_time|raw }}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_text (text) %}
  {% if text %}
    <p>{{ convertUrlInText(text)|raw }}</p>
  {% endif %}
{% endmacro %}

{% macro render_text_label (title, text, css) %}
  {% if text %}
    <div class="table table--lined">
        <table>
            <tr>
                {% if title %}
                    <th>{{ title }}</th>
                {% endif %}
                <td>
                    <p {% if css %}class="{{ css }}"{% endif %}>{{ text|raw }}</p>
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_link_label (title, linkTitle, link, type, css) %}
  {% if link %}
    <div class="table table--lined">
        <table>
            <tr>
                {% if title %}
                    <th>{{ title }}</th>
                {% endif %}
                <td>
                    <div>
                        <a target="_blank" class="icon external-link" href="{% if type == "mail" %}mailto:{% endif %}{{ link }}" title="{{ linkTitle }}" rel="noopener noreferrer">
                            {% if type == "external" %}
                              <span class="ic-ic-external"></span>
                            {% elseif type == "download" %}
                              <span class="ic-ic-download"></span>
                            {% elseif type == "mail" %}
                              <span class="ic-ic-mailto"></span>
                            {% endif %}
                            <span class="text">{{ linkTitle }}</span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_text_label_table_list (title, entries, listPreset, css) %}
  {% if entries and entries|length > 0 %}
    <div class="table table--lined">
        <table>
            <tr>
            {% if title %}
                <th>{{ title }}</th>
            {% endif %}
                <td>
                    <div class="text-list">
                    {% if listPreset %}
                      <span>{{ listPreset }}</span>
                    {% endif %}
                    {% for entry in entries %}
                        {% set entryToJson = entry|json_decode() %}
                        {% if entryToJson.url is not empty %}
                          <p class="list-item">
                              <a class="icon external-link" target="_blank" href="{{ entryToJson.url }}" title="{{ entryToJson.name }}">
                                  <span class="ic-ic-external"></span>
                                  <span class="text">{{ entryToJson.name }}</span>
                              </a>
                              {{ "SEARCH_DETAIL.CONSTRAINTS_USE_COSTRAINTS_SOURCE"|t ~ " " ~ entryToJson.quelle }}
                          </p>
                        {% else %}
                          <p class="list-item">{{ convertUrlInText(entry)|raw }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_label_text_to_link_table_list (title, entries, url) %}
  {% if entries and entries|length > 0 %}
    <div class="table table--lined">
        <table>
            <tr>
            {% if title %}
                <th>{{ title }}</th>
            {% endif %}
                <td>
                    <div class="text-list">
                    {% for entry in entries %}
                        {% if url %}
                          <div>
                              <a target="_blank" class="icon external-link" href="{{ entry|replace({'EPSG:': url, replaceString: ''}) }}" title="{{ entry }}" rel="noopener noreferrer">
                                  <span class="ic-ic-external"></span>
                                  <span class="text">{{ entry|replace({replaceString: ''}) }}</span>
                              </a>
                          </div>
                        {% else %}
                          <p class="list-item">{{ entry|replace({replaceString: ''}) }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_text_label_list (title, entries, listPreset, css, json) %}
  {% if entries and entries|length > 0 %}
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}
    <div class="text-list">
    {% if listPreset %}
      <span>{{ listPreset }}</span>
    {% endif %}
    {% for entry in entries %}
        {% set entryToJson = entry|json_decode() %}
        {% if entryToJson.url is not empty %}
            <p class="list-item">
                <a class="icon external-link" target="_blank" href="{{ entryToJson.url }}" title="{{ entryToJson.name }}">
                    <span class="ic-ic-external"></span>
                    <span class="text">{{ entryToJson.name }}</span>
                </a>
                {{ "SEARCH_DETAIL.CONSTRAINTS_USE_COSTRAINTS_SOURCE"|t ~ " " ~ entryToJson.quelle }}
            </p>
        {% else %}
            <p class="list-item">{{ convertUrlInText(entry)|raw }}</p>
        {% endif %}
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_teaser_label_list (title, entries, css) %}
  {% if entries and entries|length > 0 %}
    <div class="table list">
        <table>
            <tr>
            {% if title %}
                <td>{{ title }}</td>
            {% endif %}
                <td>
                    {% for entry in entries %}
                        <span class="list_entry">{{ entry }}</span>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_link_image_list (title, entries, type, isFacts, breakListCounter, partners) %}
  {% if entries and entries|length > 0 %}
    {% set isDownload = false %}
    {% set isExternal = false %}

    {% if type == "external" %}
        {% set isExternal = true %}
    {% elseif type == "download" %}
        {% set isDownload = true %}
    {% endif %}

    {% if title %}
      <h4>
        {{ title }}
        <span>({{ entries|length }})</span>
      </h4>
    {% endif %}
    <div class="document-list">
    {% set break = false %}
    {% for entry in entries if not break %}
      {% set num = loop.index - 1 %}
      <div class="list-item">
        {% if entry.uuid or entry.cswUrl %}
          <div class="image">
        {% else %}
          <div >
        {% endif %}
              {% set link = "" %}
              {% if entry.uuid %}
                {% set link = "?docuuid=" ~ entry.uuid %}
              {% elseif entry.url %}
                {% set link = entry.url %}
              {% elseif entry.cswUrl %}
                {% set link = "?cswUrl=" ~ entry.cswUrl %}
              {% endif %}
              {% if entry.type is not empty and isFacts is not sameas(true) %}
              <div class="helper icon">
                {{ _self.render_metadata_icon(entry.type, entry.type_name, entry.type_name) }}
              </div>
              {% endif %}
              {% if link %}
                <a {% if isExternal %}target="_blank"{% endif %} href="{{ link }}" class="icon" title="{{ entry.title }}">
                  {% if isExternal %}
                      <span class="ic-ic-external"></span>
                  {% elseif isDownload %}
                      <span class="ic-ic-download"></span>
                  {% endif %}
                  {% if entry.type and isFacts is sameas(true) %}
                      {{ _self.render_metadata_icon(entry.type, null, 'TODO') }}
                  {% endif %}
                  <span class="text">{{ entry.title }}</span>
                </a>
              {% else %}
                <p>{{ entry.title }}<p>
              {% endif %}
              {% if entry.linkInfo %}
                  <small class="text">$entry.linkInfo</small>
              {% endif %}
              {% if entry.attachedToField %}
                  <small>{{ convertUrlInText(entry.attachedToField)|raw }}</small>
              {% endif %}
              {% if entry.previews and entry.previews|length > 0 %}
                {% if entry.previews|length > 1 %}
                  <div class="preview">
                      <div class="swiper-container swiper-container-background">
                          <div class="swiper-wrapper">
                          {% for preview in entry.previews %}
                              <div class="swiper-slide">
                                  <p class="caption">
                                      <a target="_blank" class="external-link" href="{{ preview }}" title="{{ entry.title }}" rel="noopener noreferrer">
                                          <img class="preview_image"{% if 'http:' in  preview %} src="./" data-src={% else %} src={% endif %}"{{ preview }}" title="{{ entry.title }}" title="{{ entry.title }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
                                          <noscript>
                                              <img class="preview_image" src="{{ preview }}" title="{{ entry.title }}" alt="img">
                                          </noscript>
                                      </a>
                                  </p>
                              </div>
                          {% endfor %}
                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
                {% else %}
                  <div class="preview">
                        {% set tmpUrl = entry.previews[0] %}
                        <a target="_blank" class="external-link" href="{{ tmpUrl }}" title="{{ entry.title }}" rel="noopener noreferrer">
                            <img class="preview_image"{% if 'http:' in  tmpUrl %} src="./" data-src={% else %} src={% endif %}"{{ tmpUrl }}" title="{{ entry.title }}" title="{{ entry.title }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
                            <noscript>
                                <img class="preview_image" src="{{ tmpUrl }}" title="{{ entry.title }}" alt="img">
                            </noscript>
                        </a>
                    </div>
                {% endif %}
              {% endif %}
              {% if entry.description %}
                <div class="description">
                  <small class="description">{{ convertUrlInText(entry.description)|raw }}</small>
                </div>
              {% endif %}
              {% if entry.extMapUrl %}
                <a #if($mapLinksNewTab)target="_blank"#end class="button outline pill" href="$entry.extMapUrl" title="{{ "COMMON.RESULT_SHOWMAP_TOOLTIP"|t }}">
                    {{ "COMMON.RESULT_SHOWMAP"|t }}
                </a>
              {% elseif entry.mapLink %}
                <a #if($mapLinksNewTab)target="_blank"#end class="button outline pill" href="$renderResponse.encodeURL('/portal/main-maps.psml')?layers=$entry.mapLink" title="{{ "COMMON.RESULT_SHOWMAP_TOOLTIP"|t }}">
                    {{ "COMMON.RESULT_SHOWMAP"|t }}
                </a>
              {% endif %}
          </div>
      </div>
      {% if breakListCounter and num >= breakListCounter -1 %}
        {% set break = true %}
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_table (title, header, entries, increaseColumns, additionalRows, setCenter) %}
  {% if entries and entries|length > 0 %}
    <div class="table">
      {% if title %}
        <h5>{{ title }}</h5>
      {% endif %}
      <table>
      {% if header and header|length > 0 %}
        <thead>
          <tr>
          {% for head in header %}
            {% set num = loop.index - 1 %}
            {% set isIncreaseColumn = false %}
            {% if increaseColumns %}
                {% if num in increaseColumns %}
                    {% set isIncreaseColumn = true %}
                {% endif %}
            {% endif %}
            <th {% if isIncreaseColumn %}class="column--increase"{% endif %} {% if setCenter %}style="text-align:center;"{% endif %}>{{ head }}</th>
          {% endfor %}
          </tr>
        </thead>
      {% endif %}
      {% for items in entries %}
        <tr>
        {% for item in items %}
          {% set num = loop.index - 1 %}
          {% if item.type == "text" %}
            <td>{{ item.value }}</td>
          {% elseif item.type == "date" %}
            <td>{{ item.value|date("d.m.Y", false) }}</td>
          {% elseif item.type == "link" %}
            <td><a href="{{ item.value }}" title="{{ item.value }}">{{ item.value }}</a></td>
          {% elseif item.type == "symbol" %}
            <td class="symbol" {% if setCenter %}style="text-align:center;"{% endif %}>
            {% if item.value == "true" %}
              <span class="ic-ic-check" title="{{ item.title }}"></span>
            {% elseif item.value == "false" %}
               <span class="ic-ic-cross" title="{{ item.title }}"></span>
            {% else %}
             <span class="ic-ic-minus" title="{{ item.title }}"></span>
            {% endif %}
            </td>
          {% else %}
           <td></td>
          {% endif %}
        {% endfor %}
          </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_table_list (title, header, entries) %}
  {% if entries and entries|length > 0 %}
    <div class="table table--lined--list">
      {% if title %}
        <h5>{{ title }}</h5>
      {% endif %}
      <table>
      {% for head in header %}
        {% set num = loop.index - 1 %}
        <tr>
          <th>{{ head }}</th>
          <td>
          {% set items = entries[num] %}
          {% for item in items %}
            <p>{{ item }}</p>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_multi_images (entries, partners) %}
  {% if entries and entries|length > 0 %}
    {% set canSwipe = false %}
    {% if entries|length > 1 %}
      {% set canSwipe = true %}
    {% endif %}

    {% if canSwipe %}
    <div class="swiper-container swiper-container-background">
      <div class="swiper-wrapper">
    {% else %}
    <div class="swiper-container-background">
    {% endif %}
    {% if canSwipe %}
      {% for entry in entries %}
        <div class="swiper-slide">
          <p class="caption">
            <a target="_blank" class="external-link" href="{{ entry.url }}" title="{{ entry.descr ?? entry.url }}" rel="noopener noreferrer">
              <img class="preview_image"{% if 'http:' in  entry.url %} src="./" data-src={% else %} src={% endif %}"{{ entry.url }}" title="{{ entry.descr ?? entry.url }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
              <noscript>
                <img class="preview_image" src="{{ entry.url }}" title="{{ entry.url }}" alt="img">
              </noscript>
            </a>
          </p>
          {% if entry.descr %}
          <p class="caption">{{ entry.descr }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      {% set entry = entries[0] %}
      {% if entry %}
      <div class="swiper-slide">
        <p class="caption">
          <a target="_blank" class="external-link" href="{{ entry.url }}" title="{{ entry.descr ?? entry.url }}" rel="noopener noreferrer">
            <img class="preview_image"{% if 'http:' in  entry.url %} src="./" data-src={% else %} src={% endif %}"{{ entry.url }}" title="{{ entry.descr ?? entry.url }}" alt="img" onerror="loadDefaultMapImage(this, '{{ partners[0] }}', '{{ url("theme://images/") }}');">
            <noscript>
              <img class="preview_image" src="{{ entry.url }}" title="{{ entry.url }}" alt="img">
            </noscript>
          </a>
        </p>
        {% if entry.descr %}
          <p class="caption">{{ entry.descr }}</p>
        {% endif %}
      </div>
      {% endif %}
    {% endif %}
    {% if canSwipe %}
        </div>
      {% if entries|length > 1 %}
        <div class="swiper-pagination"></div>
      {% endif %}
      </div>
    {% else %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro render_catalog_node (node, detailPath, catalogPath, openOnNewTab) %}
    {% set nodeLevel = node.level %}
    {% set nodeId = node.id %}
    {% set nodeUuid = node.uuid %}
    {% set linkId = nodeId %}
    {% set linkIdent = node.ident %}
    {% set nodeTitle = node.name %}


    {% set nodeUrl = '' %}
    {% if nodeUuid %}
        {% set nodeUrl = detailPath ~ "?docuuid=" ~ nodeUuid %}
    {% endif %}
    {% if nodeUrl and node.isAddress %}
        {% set nodeUrl = nodeUrl ~ "&type=address" %}
    {% endif %}
    {% set nodeRequest = catalogPath ~ '?parentId=' ~ nodeUuid ~ '&index=' ~ linkIdent ~ '&level=' ~ nodeLevel ~ '&node=' ~ linkId ~ '&partner=' ~ node.partner %}
    {% set nodeRequestDisable = openNodesLevel > nodeLevel %}

    {% if node.children or node.hasChildren %}
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist" >
            <li class="accordion-item" >
            {% if nodeUrl != '' %}
                <div class="accordion-item-sub">
                    <span class="icon">
                        <a id="{{ linkId }}" href="#{{ linkId }}" onclick="updateLeaf('{{ linkId }}', true, event)" hx-get="{{ nodeRequest }}" hx-trigger="click once" hx-target="#replace-{{ linkId }}" class="ic-ic-plus"></a>
                        {% if node.type != "1000" %}
                            <a href="{{ nodeUrl }}" title="{{ nodeTitle }}">
                                {{ nodeTitle }}
                            </a>
                        {% else %}
                            <span>{{ nodeTitle }}</span>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <a class="accordion-title" id="{{ linkId }}" href="#{{ linkId }}" onclick="updateLeaf('{{ linkId }}', true, event)" {% if nodeRequestDisable %}hx-get="{{ nodeRequest }}" hx-trigger="click once" hx-target="#replace-{{ linkId }}"{% endif %} aria-controls="{{ node.id }}-accordion" role="tab" title="{{ nodeTitle }}">
                    {{ nodeTitle|t }}
                </a>
            {% endif %}
                <div class="accordion-content" data-tab-content role="tabpanel" aria-labelledby="{{ linkId }}" id="{{ node.id }}-accordion">
                    <div id="replace-{{ linkId }}">
                    </div>
            {% if node.children %}
                {% for childNode in node.children %}
                    {{ _self.render_catalog_node(childNode, detailPath, catalogPath, openOnNewTab) }}
                {% endfor %}
            {% endif %}
                </div>
            </li>
        </ul>
    {% else %}
        {% if nodeUrl != '' and node.type != "1000" %}
            <div class="accordion-item-sub">
                <a {% if openOnNewTab %}target="_blank"{% endif %} href="{{ nodeUrl }}" class="icon" title="{{ nodeTitle }}">
                    {% if node.isAddress %}
                        {% set type_name = "COMMON.UDK_ADR_CLASS_NAME_" ~ node.type_name %}
                        {{ _self.render_address_icon(node.type, nodeTitle, type_name|t) }}
                    {% else %}
                        {{ _self.render_metadata_icon(node.type, nodeTitle, node.type_name) }}
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}