<div class="row content-small">
    <div class="columns">
        <div class="form">
            <p>
                Die gewünschte Seite scheint nicht mehr zu existieren. Sie wurde umbenannt, gelöscht oder existiert nicht.
            </p>
            <ul>
                <li>
                    Falls Sie über ein altes Lesezeichen gekommen sind, bitte aktualisieren Sie Ihr Lesezeichen oder Ihre Favoriten
                </li>
                <li>
                    Falls Sie die Adresse (URL) selbst eingetippt haben, überprüfen Sie bitte die Schreibweise.
                </li>
                <li>
                    Versuchen Sie über die <a href="{{ page.find('/home').url }}">{{ "PAGES.HOME"|t }}</a> oder die <a href="{{ page.find('/sitemap').url }}">{{ "PAGES.SITEMAP"|t }}</a> die gewünschte Seite zu finden
                </li>
                <li>
                    Stöbern Sie in den verschiedenen Such-Kategorien von GeoPortal.EBA:
                    <div class="link-list">
                        <a class="icon" href="{{ page.find('/search').url }}">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">{{ "PAGES.SEARCH"|t }}</span>
                        </a>
                        <a class="icon" href="{{ page.find('/map').url }}">
                            <span class="ic-ic-arrow"></span>
                            <span class="text">{{ "PAGES.MAP"|t }}</span>
                        </a>
                    </div>
                </li>
            </ul>
            <br>
            <p>
                Danke für Ihr Verständnis.
            </p>
        </div>
    </div>
</div>