{% import 'macros/hit_macros.html.twig' as hit_macros %}

{# labels #}
{% set hash_overview = "detail_overview" %}
{% set hash_description = "detail_description" %}
{% set hash_area = "detail_area" %}
{% set hash_links = "detail_links" %}
{% set hash_use = "detail_use" %}
{% set hash_info = "detail_info" %}
{% set hash_dataquality = "detail_dataquality" %}
{% set hash_additional = "detail_additional" %}
{% set hash_contact = "detail_contact" %}
{% set hash_metadata_info = "metadata_info" %}
{% set hash_bibliographical_info = "bibliographical_info" %}
{% set hash_time = "detail_time" %}

<div class="detail" id="detail">
    <div class="banner-noimage m-filter">
        <div class="page-wrapper" style="background-image: url('{{ url('theme://images/template/drops-subpage.svg') }}');">
            <div class="row">
                <div class="xsmall-24 large-6 xlarge-6 columns">
                    {% set backLink = page.find('/search').url ~ '?' %}
                    {% set queries = uri.query(null, true) %}
                    {% for key, param in queries %}
                        {% if key is not sameas('docuuid') %}
                            {% set backLink = backLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
                        {% endif %}
                    {% endfor %}
                    <a class="helper icon" href="{{ backLink }}" title="{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}" rel="noopener noreferrer">
                        <span class="ic-ic-arrow-left"></span>
                        <span class="text text-normal">{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}</span>
                    </a>
                </div>
                <div class="xsmall-24 large-18 xlarge-18 columns">
                    {% include 'partials/detail/metadata/parts/banner/banner.html.twig' %}
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row nav-content search-filtered">
    {# Navigation #}
        <div class="xsmall-24 large-6 xlarge-6 columns">
            {% include 'partials/detail/metadata/parts/navigation/navigation.html.twig' %}
        </div>
        <a class="anchor" id="{{ hash_overview }}"></a>
        <div class="xsmall-24 large-18 xlarge-18 columns">
    {# FactSheet #}
            {% if hasOverview %}
                {% include 'partials/detail/metadata/parts/factsheet/factsheet.html.twig' %}
            {% endif %}
    {# Beschreibung #}
            {% if hasDescription %}
                {% include 'partials/detail/metadata/parts/description/description.html.twig' %}
            {% endif %}
    {# Bibliografische Angaben #}
            {% if hasBibliographicalInfo %}
                {% include 'partials/detail/metadata/parts/bibliographical_info/bibliographical_info.html.twig' ignore missing %}
            {% endif %}
    {# Zeitbezug #}
            {% if not isTimeInDescription and hasTime %}
                {% include 'partials/detail/metadata/parts/time/time.html.twig' %}
            {% endif %}
    {# Raumbezug #}
            {% if hasArea %}
                {% include 'partials/detail/metadata/parts/area/area.html.twig' %}
            {% endif %}
    {# Verweise und Downloads #}
            {% if hasLinks %}
                {% include 'partials/detail/metadata/parts/links/links.html.twig' %}
            {% endif %}
    {# Nutzung #}
            {% if hasUse %}
                {% include 'partials/detail/metadata/parts/use/use.html.twig' %}
            {% endif %}
    {# Kontakt #}
            {% if hasContact %}
                {% include 'partials/detail/metadata/parts/contact/contact.html.twig' %}
            {% endif %}
    {# Fachinformationen #}
            {% if hasInfo %}
                {% include 'partials/detail/metadata/parts/information/information.html.twig' %}
            {% endif %}
    {# Datenqualität #}
            {% if hasDataquality %}
                {% include 'partials/detail/metadata/parts/dataquality/dataquality.html.twig' %}
            {% endif %}
    {# Zusatzfelder #}
            {% if hasAdditionalFields %}
                {% include 'partials/detail/metadata/parts/additional_fields/additional_fields.html.twig' %}
            {% endif %}
    {# Infos zur Datensatzbeschreibung #}
            {% if hasMetadataInfo %}
                {% include 'partials/detail/metadata/parts/metadata_info/metadata_info.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>