<div class="side-logos">
    <a href="{{ home_url }}"
       title="{{ "PAGES.HOME_MENU_TITLE"|t }}"
    >
        <img src="{{ url('theme://images/template/lubw_logo.png') }}"
             alt="{{ "PAGES.HOME_MENU_TITLE"|t }}"
             aria-hidden="true"
        />
    </a>

    <a href="{{ page.find('/language-sign').url }}"
       title="{{ "PAGES.LANGUAGE_SIGN_MENU_TITLE"|t }}"
    >
        <img src="{{ url('theme://images/template/sign_language.svg') }}"
             alt="{{ "PAGES.LANGUAGE_SIGN_MENU_TITLE"|t }}"
             aria-hidden="true"
        />
    </a>

    <a href="{{ page.find('/language-easy').url }}"
       title="{{ "PAGES.LANGUAGE_EASY_MENU_TITLE"|t }}"
    >
        <img src="{{ url('theme://images/template/simple_language.svg') }}"
             alt="{{ "PAGES.LANGUAGE_EASY_MENU_TITLE"|t }}"
             aria-hidden="true"
        />
    </a>
</div>