{% set header_logo_enabled = theme_var('header.logo_enabled') %}

{% if header_logo_enabled %}
    {% set logo = theme_var('header.logo') %}
    {% set logo_lang = theme_var('header.logo_' ~ grav.language.getLanguage) %}
    {% if logo_lang %}
        {% set logo = logo_lang %}
    {% endif %}

    {% if logo %}
        {% set header_logo_file = (logo|first).name %}
    {% endif %}
    <div class="logo" role="banner">
        <a href="{{ home_url }}" class="hide-for-medium hide-for-xsmall-only" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url('theme://images/logo/' ~ header_logo_file) }}" alt="{{ site.title }}"/>
        </a>
        <a href="{{ home_url }}" class="show-for-medium hide-for-xsmall-only" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url('theme://images/logo/' ~ header_logo_file) }}" alt="{{ site.title }}"/>
        </a>
        <a href="{{ home_url }}" class="show-for-xsmall-only" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url('theme://images/logo/logo-xsmall.svg') }}" alt="{{ site.title }}"/>
        </a>
    </div>
{% endif %}