{% import 'macros/hit_macros.html.twig' as hit_macros %}
{% import 'macros/hit_macros_opendata.html.twig' as hit_macros_opendata %}

{# booleans #}
{% set hasOverview = (links|length > 0 or useRefs.useConstraints.constraints|length > 0 or previews|length > 0 or contactRefs|length > 0) %}
{% set hasDescription = (alternateTitle or description or landing_page) %}
{% set hasTime = (timeRefs|length > 0) %}
{% if hasTimeData is not defined %}
    {% set hasTimeData = (timeRefs.accrual_periodicity or timeRefs.issued or timeRefs.created) %}
{% endif %}
{% if hasTimeResource is not defined %}
    {% set hasTimeResource = (timeRefs.timeCreation or timeRefs.timePublication or timeRefs.timeRevision) %}
{% endif %}
{% set hasArea = (mapRefs|length > 0) %}
{% set hasLinks = (linkRefs|length > 0) %}
{% set hasContact = (contactRefs|length > 0) %}
{% set hasInfo = (infoRefs|length > 0 or infoRefs_additional|length > 0 or infoRefs_keyword|length > 0 ) %}
{% set hasMetadataInfo = (metaInfoRefs|length > 0) %}

{# labels #}
{% set hash_overview = "detail_overview" %}
{% set hash_description = "detail_description" %}
{% set hash_area = "detail_area" %}
{% set hash_links = "detail_links" %}
{% set hash_use = "detail_use" %}
{% set hash_info = "detail_info" %}
{% set hash_contact = "detail_contact" %}
{% set hash_metadata_info = "metadata_info" %}
{% set hash_time = "detail_time" %}

<div class="detail" id="detail">
    <div class="banner-noimage m-filter">
        <div class="page-wrapper" style="background-image: url('{{ url('theme://images/template/drops-subpage.svg') }}');">
            <div class="row">
                <div class="xsmall-24 large-6 xlarge-6 columns">
                    {% set backLink = page.find('/search').url ~ '?' %}
                    {% set queries = uri.query(null, true) %}
                    {% set excludeParams = ['docuuid', 'isAddress'] %}
                    {% for key, param in queries %}
                        {% if key not in excludeParams %}
                            {% set backLink = backLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
                        {% endif %}
                    {% endfor %}
                    <a class="helper icon" href="{{ backLink }}" title="{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}" rel="noopener noreferrer">
                        <span class="ic-ic-arrow-left"></span>
                        <span class="text text-normal">{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}</span>
                    </a>
                </div>
                <div class="xsmall-24 large-18 xlarge-18 columns">
                    <h2>{{ removeHashLocale(title) }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row nav-content search-filtered">
{# Navigation #}
        <div class="xsmall-24 large-6 xlarge-6 columns">
            {% include 'partials/detail/opendata/parts/navigation/navigation.html.twig' %}
        </div>
        <a class="anchor" id="{{ hash_overview }}"></a>
        <div class="xsmall-24 large-18 xlarge-18 columns">
{# FactSheet #}
            {% if hasOverview %}
                {% include 'partials/detail/opendata/parts/factsheet/factsheet.html.twig' %}
            {% endif %}
{# Beschreibung #}
            {% if hasDescription %}
                {% include 'partials/detail/opendata/parts/description/description.html.twig' %}
            {% endif %}
{# Zeitbezug #}
            {% if not isTimeInDescription and hasTime %}
                {% include 'partials/detail/opendata/parts/time/time.html.twig' %}
            {% endif %}
{# Raumbezug #}
            {% if hasArea %}
                {% include 'partials/detail/opendata/parts/area/area.html.twig' %}
            {% endif %}
{# Verweise und Downloads #}
            {% if hasLinks %}
                {% include 'partials/detail/opendata/parts/links/links.html.twig' %}
            {% endif %}
{# Nutzung #}
            {% if hasUse %}
                {% include 'partials/detail/opendata/parts/use/use.html.twig' %}
            {% endif %}
{# Kontakt #}
            {% if hasContact %}
                {% include 'partials/detail/opendata/parts/contact/contact.html.twig' %}
            {% endif %}
{# Fachinformationen #}
            {% if hasInfo %}
                {% include 'partials/detail/opendata/parts/information/information.html.twig' %}
            {% endif %}
{# Infos zur Datensatzbeschreibung #}
            {% if hasMetadataInfo %}
                {% include 'partials/detail/opendata/parts/metadata_info/metadata_info.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>