{% import 'macros/hit_macros.html.twig' as hit_macros %}

{% set partner_logo = theme_var('hit_search.partner_logo_enabled') %}
{% set summary_lines_limit = theme_var('hit_search.summary_lines_limit') %}
{% set summary_replace_newline = theme_var('hit_search.summary_replace_newline') %}
{% set isExpandable = theme_var('hit_search.expandable.enabled') %}

{% set detailLink = page.find('/detail').url ~ "?docuuid=" ~ hit.uuid %}
{% set queries = uri.query(null, true) %}
{% for key, param in queries %}
    {% set detailLink = detailLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
{% endfor %}

<div class="data">
    <div class="teaser-data search">
        {% if hit.uuid %}
            <a class="anchor" id="{{ 'hit_' ~ counter }}"></a>
        {% endif %}
        {{ hit_macros.render_hit_types(hit.serviceTypes, true) }}
        {% if partner_logo %}
           {{ hit_macros.render_hit_logo(hit.partners) }}
        {% endif %}
        {% if hit.type is not empty %}
            {% include 'partials/search/result/metadata/parts/metadata_type.html.twig' with {hit:hit} %}
        {% endif %}
        {% include 'partials/search/result/metadata/parts/metadata_search_terms.html.twig' with {hit:hit} %}
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <h2 class="header">{{ hit.title }}</h2>
        </a>
        {% include 'partials/search/result/metadata/parts/metadata_time.html.twig' with {hit:hit} %}
        {% if hit.summary %}
            <p class="data-text" {% if summary_lines_limit %} style="-webkit-line-clamp: {{ summary_lines_limit }};"{% endif %}>
                {{  convertUrlInText(hit.summary)|replace({'\n': summary_replace_newline})|raw }}
            </p>
        {% endif %}
        {% include 'partials/search/result/metadata/parts/metadata_providers.html.twig' ignore missing with {hit:hit} %}
        {{ hit_macros.render_hit_types(hit.serviceTypes, true, true) }}
        <a href="{{ detailLink }}" title="{{ "COMMON.DETAIL_ARROW_PREFIX"|t ~ " " ~ hit.title }}">
            <span class="ic-ic-arrow arrow"></span>
        </a>
        {% if isExpandable %}
            {% include 'partials/search/result/metadata/expand/expand.html.twig' with {hit:hit, counter: counter} %}
        {% endif %}
    </div>
</div>