
<div class="category">
    <a id="search.teaser"></a>
    <div class="row">
        <div class="columns text-center">
            <h2>{{ "CATEGORIES.TITLE"|t }}</h2>
        </div>
    </div>
    {% if categories_result %}
        {% if categories_result.facets %}
            {% set facets = categories_result.facets %}
            {% set facetsCount = facets|length %}
            {% set hasMultiFacets = false %}
            {% if facetsCount > 1 %}
                {% set hasMultiFacets = true %}
            {% endif %}
            {% set isActive = true %}
            {% if hasMultiFacets %}
                <ul class="tabs" data-tabs id="uvp-tabs" role="tablist">
                {% for facet in facets %}
                    <li class="tabs-title {% if isActive %}is-active{% endif %}" role="presentation">
                        <a href="#panel-{{ facet.id }}" aria-selected="{{ isActive }}" role="tab" id="panel-{{ facet.id }}-label" tabindex="0">
                            <span class="text">{{ (facet.label ?? ('FACETS.FACET-LABEL.' ~ facet.id)|upper)|t }}</span>
                        </a>
                        <span class="pointer"></span>
                    </li>
                    {% set isActive = false %}
                {% endfor %}
            {% endif %}
            {% set isActive = true %}
            <div class="tabs-content" data-tabs-content="uvp-tabs">
            {% for facet in facets %}
                <div class="tabs-panel midnight {% if isActive %}is-active{% endif %}" id="panel-{{ facet.id }}" role="tabpanel" aria-labelledby="panel-{{ facet.id }}-label">
                    <div class="row align-center text-center">
                        {% set rss = theme_var('home.categories.rss') %}
                        {% if rss == facet.id %}
                        <div class="xsmall-24 small-12 medium-8 large-6 xlarge-4 columns">
                            <div class="teaser">
                                <div class="blue-border"></div>
                                <a class="teaser-link" href="{{ page.find('/rss').url }}">
                                    <span class="ic-rss"></span>
                                    <span class="text">{{ "SEARCH_RESULT.CATEGORY_NEWS_TITLE"|t }}</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% for facetItem in facet.items %}
                            {% if facetItem.docCount > 0 or facetItem.display %}
                            <div class="xsmall-24 small-12 medium-8 large-6 xlarge-4 columns">
                                <div class="teaser">
                                    <div class="blue-border"></div>
                                    <a class="teaser-link" href="{{ page.find('/search').url ~ facetItem.actionLink }}">
                                    {% if "/" in facetItem.icon %}
                                        <img style="margin: auto;" class="bx-top-s icon-{{ facetItem.id }}" src="{{ url('theme://' ~ facetItem.icon) }}" alt="icon"/>
                                    {% else %}
                                        <span class="{{ facetItem.icon }}"></span>
                                    {% endif %}
                                        <span class="text">{{ facetItem.label|t }}</span>
                                        <span class="teaser-number">
                                            {{ facetItem.docCount }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% set isActive = false %}
            {% endfor %}
            </div>
            {% if hasMultiFacets %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

<script>
$( ".tab__content" ).each(function( i ) {
    var tabContent = $( this );
    var height = 0;
    // Get highest height of flex-row
    tabContent.find( ".flex-row" ).each(function( index ) {
      var elemHeight = $( this ).height();
      if(elemHeight > height){
        height = elemHeight;
      }
    });

    // Set highest height to all flex-rows
    tabContent.find( ".flex-row" ).each(function( index ) {
      var elem = $( this );
      if(height != 0){
        elem.height(height);
      }
    });
});
$(document).ready(function() {
    $( ".tabs-title" ).each(function( i ) {
        var tabsTitle = $( this );
        $( this ).find('a').attr("tabindex", "0");
    });
});
</script>
