{% set bannerClass = "banner search m-filter" %}
{% set wrapperClass = "search-wrapper" %}
{% if page.header.has_content_title == true %}
    {% set bannerClass = "banner home" %}
    {% set wrapperClass = "home-wrapper" %}
{% endif %}
<div class="{{ bannerClass }}">
    <a id="search"></a>
    <div class="{{ wrapperClass }}" style="background-image: url('{{ url('theme://images/template/drops-big.svg') }}');">
        <div class="row align-center">
            <div class="large-20 columns dark">
                {% if page.header.has_content_title %}
                    {% set title = "SEARCH.PORTLET_TITLE_1"|t %}
                    {% if title %}
                        <h1>{{ title|raw }}</h1>
                    {% endif %}
                    <h1 class="green">{{ "SEARCH.PORTLET_TITLE_2"|t|raw }}<span class="ic-ic-asterisc"></span></h1>
                    <div class="indent">
                        <span class="ic-ic-asterisc"></span>
                        <p class="intro">{{ "SEARCH.PORTLET_TITLE_3"|t|raw }}</p>
                    </div>
                {% endif %}
                <form action="{{ page.find('/search').url }}?{{ uri.query }}" class="input-search" method="get" name="SearchForm" id="SearchForm">
                    <input type="text" class="input-search-field" placeholder="{{ "SEARCH.QUERY_INITIAL"|t }}" id="qrystr" name="q" value="{{ query }}">
                    {% for params in uri.query()|split('&') %}
                        {% set param = params|split('=') %}
                        {% set key = param[0] %}
                        {% if key is not empty %}
                            {% set value = uri.query(key) %}
                            {% if key is not sameas('q') and
                                key is not sameas('page') and
                                not(key starts with 'chk') %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <button class="button round hide-for-medium">
                        <span class="ic-ic-lupe"></span>
                    </button>
                    <button class="button large show-for-medium">
                        {{ "SEARCH.QUERY_SUBMIT"|t }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
