{# @var hit \Grav\Plugin\SearchResultHit #}
{% import 'macros/hit/hit_default_macros.html.twig' as hit_macros %}

{% set detailLink = base_url ~ "/detail?docuuid=" ~ hit.uuid ~ "&type=address" %}

<div class="data">
    <div class="teaser-data search">
        {% if hit.uuid %}
            <a class="anchor" id="{{ 'hit_' ~ counter }}"></a>
        {% endif %}
        <div class="helper icon">
            {{ hit_macros.render_address_icon(hit.metaClass, hit.metaClassName) }}
        </div>
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <h2 class="header">{{ hit.title }}</h2>
        </a>
        {% if hit.summary %}
        <p class="data-text">
            {{ hit.summary }}
        </p>
        {% endif %}
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <span class="ic-ic-arrow arrow"></span>
        </a>
    </div>
</div>