{% import 'macros/hit/hit_default_macros.html.twig' as hit_macros %}
{% set partner_logo = theme_var('search_partner_logo_enabled') %}

{% set detailLink = "/trefferanzeige?doccuid=" ~ hit.uuid %}

<div class="data">
    <div class="teaser-data search">
        {% if hit.uuid %}
            <a class="anchor" id="{{ 'hit_' ~ counter }}"></a>
        {% endif %}
        {{ hit_macros.render_hit_types(hit.types, true) }}
        {% if partner_logo %}
            {{ hit_macros.render_hit_logo(hit.partner) }}
        {% endif %}
        <div class="helper icon">
            {{ hit_macros.render_metadata_icon(hit.metaClass, hit.metaClassName) }}
        </div>
        {{ hit_macros.render_hit_searchterm(hit.isInspire, hit.isOpendata, hit.hasAccessContraint) }}
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <h2 class="header">{{ hit.title }}</h2>
        </a>
        {{ hit_macros.render_hit_time("Aktualität der Daten", hit.time) }}
        {% if hit.summary %}
        <p class="data-text">
            {{ hit.summary }}
        </p>
        {% endif %}
        {{ hit_macros.render_hit_types(hit.types, true, true) }}
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <span class="ic-ic-arrow arrow"></span>
        </a>
        {% include 'partials/search/result/hit/metadata/expand/result_hit_expand.html.twig' with {hit:hit, counter: counter} %}
    </div>
</div>