{% import 'macros/hit_macros.html.twig' as hit_macros %}

<a id="{{ hitOpenId }}" class="js-expander {% if isHitOpen %}is-hidden{% endif %}" title="{{ "SEARCH_RESULT.INFO_MORE"|t }}" href="#" {% if bboxes|length > 0 %}onclick="resizeMap({{ hitMapId }})"{% endif %}>
    <span class="icon  ic-ic-plus"></span>
    <span class="text">{{ "SEARCH_RESULT.INFO_MORE"|t }}</span>
</a>
<a class="js-expander-close {{ hitOpenId }} {% if not isHitOpen %}is-hidden{% endif %}" title="{{ "SEARCH_RESULT.INFO_LESS"|t }}" href="#">
    <span class="icon  ic-ic-minus"></span>
    <span class="text">{{ "SEARCH_RESULT.INFO_LESS"|t }}</span>
</a>
<div class="js-expander-content {{ hitOpenId }} {% if not isHitOpen %}is-hidden{% endif %}">
    <div class="row">
        <div class="xsmall-24 small-24 medium-14 large-14 xlarge-14 columns">
{# URL des Zugangs #}
            {% include 'partials/search/result/metadata/expand/access_ref/expand_access_ref.html.twig' ignore missing %}
{# Link zur Verordnung #}
            {% if regulation|length > 0 %}
                <div class="sub-section">
                    {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_REGULATION_URL"|t, regulation|length) }}
                    <div class="document-list">
                        {% for link in regulation %}
                            <div class="list-item">
                                <div>
                                    <a href="{{ link.url }}" class="icon external-link" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">
                                        <span class="ic-ic-external"></span>
                                        <span class="text">
                                            {{ link.title ?? link.url }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% set countLinks = 0 %}
            {% set addRefsExpanded = false %}
{# Verweise und Downloads #}
            {% if downloads|length > 0 or references|length > 0 or others|length > 0 %}
                <div class="sub-section">
                    {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_LINKS"|t, downloads|length + references|length) }}
                    <div class="document-list">
{# Downloads #}
                        {% for link in downloads %}

                            {% if countLinks >= hit_search_links_max and addRefsExpanded == false %}
                                {% set addRefsExpanded = true %}
                                <button type="button" id="{{ moreIdLinks }}" class="js-expander button outline" title="{{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}">
                                    {{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}
                                </button>
                                <div class="js-expander-content {{ moreIdLinks }} is-hidden">
                            {% endif %}

                            <div class="list-item">
                                <div>
                                    <div class="info--right">
                                        {% if link.serviceType %}
                                            <span>{{ link.serviceType }}</span>
                                        {% endif %}
                                    </div>
                                    <a href="{{ link.url }}" class="icon external-link" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">
                                        <span class="ic-ic-download"></span>
                                        <span class="text">
                                            {{ link.title ?? link.url }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                            {% set countLinks = countLinks + 1 %}
                        {% endfor %}
{# Verweise #}
                        {% for link in references %}
                            {% if countLinks >= hit_search_links_max and addRefsExpanded == false %}
                                {% set addRefsExpanded = true %}
                                <button type="button" id="{{ moreIdLinks }}" class="js-expander button outline" title="{{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}">
                                    {{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}
                                </button>
                                <div class="js-expander-content {{ moreIdLinks }} is-hidden">
                            {% endif %}

                            <div class="list-item">
                                <div>
                                    <div class="info--right">
                                        {% if link.serviceType %}
                                            <span>{{ link.serviceType }}</span>
                                        {% endif %}
                                    </div>
                                    {% set detailLink = page.find('/detail').url ~ "?docuuid=" ~ link.uuid %}
                                    {% if link.url %}
                                        {% set detailLink = page.find('/detail').url ~ "?cswUrl=" ~ link.url|url_encode %}
                                    {% endif %}
                                    <a href="{{ detailLink }}" class="icon" title="{{ link.title }}">
                                        {{ hit_macros.render_metadata_icon(link.type, link.title ?? detailLink, link.typeName) }}
                                    </a>
                                </div>
                            </div>
                            {% set countLinks = countLinks + 1 %}
                        {% endfor %}
                        {% if addRefsExpanded %}
                            {% set addRefsExpanded = false %}
                            </div>
                            <button type="button" class="button outline js-expander-close {{ moreIdLinks }} is-hidden" title="{{ "SEARCH_RESULT.INFO_LINKS_LESS"|t }}">
                                {{ "SEARCH_RESULT.INFO_LINKS_LESS"|t }}
                            </button>
                        {% endif %}
{# Weitere Verweise #}
                        {% if downloads|length == 0 and references|length == 0 %}
                            {% for link in others %}
                                {% if countLinks >= hit_search_links_max and addRefsExpanded == false %}
                                    {% set addRefsExpanded = true %}
                                    <button type="button" id="{{ moreIdLinks }}" class="js-expander button outline" title="{{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}">
                                        {{ "SEARCH_RESULT.INFO_LINKS_MORE"|t }}
                                    </button>
                                    <div class="js-expander-content {{ moreIdLinks }} is-hidden">
                                {% endif %}

                                <div class="list-item">
                                    <div>
                                        <div class="info--right">
                                            {% if link.applicationProfile %}
                                                {% set infoText = "COMMON.SERVICE_TYPE_" ~ link.applicationProfile|upper %}
                                                {% if infoText|t == infoText %}
                                                    <span>{{ link.applicationProfile }}</span>
                                                {% else %}
                                                    <span>{{ infoText|t }}</span>
                                                {% endif %}
                                            {% endif %}
                                            {% if link.serviceType %}
                                                <span>{{ link.serviceType }}</span>
                                            {% endif %}
                                        </div>
                                        <a href="{{ link.url }}" class="icon external-link" title="{{ link.title }}" target="_blank" rel="noopener noreferrer">
                                            <span class="ic-ic-external"></span>
                                            <span class="text">
                                                {{ link.title ?? link.url }}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                {% set countLinks = countLinks + 1 %}
                            {% endfor %}
                            {% if addRefsExpanded %}
                                {% set addRefsExpanded = false %}
                                </div>
                                <button type="button" class="button outline js-expander-close {{ moreIdLinks }} is-hidden" title="{{ "SEARCH_RESULT.INFO_LINKS_LESS"|t }}">
                                    {{ "SEARCH_RESULT.INFO_LINKS_LESS"|t }}
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
{# Ressourcen #}
            {% include 'partials/search/result/metadata/expand/distributions/expand_distributions.html.twig' ignore missing %}
{# Zitat für diesen Datensatz #}
            {% include 'partials/search/result/metadata/expand/citation/expand_citation.html.twig' ignore missing %}
{# Nutzungsbedingung #}
            {% include 'partials/search/result/metadata/expand/license/expand_license.html.twig' ignore missing %}
{# Zugriffsbeschränkungen #}
            {% include 'partials/search/result/metadata/expand/restriction/expand_restriction.html.twig' ignore missing %}
{# Auftragsnummer #}
            {% include 'partials/search/result/metadata/expand/bwa_number/expand_bwa_number.html.twig' ignore missing %}
{# Auftragstitel #}
            {% include 'partials/search/result/metadata/expand/bwa_title/expand_bwa_title.html.twig' ignore missing %}
{# Ortslage #}
            {% include 'partials/search/result/metadata/expand/bwastr_name/expand_bwastr_name.html.twig' ignore missing %}
{# Anbieter #}
            {% include 'partials/search/result/metadata/expand/provider/expand_provider.html.twig' ignore missing %}
{# Quelle #}
            {% include 'partials/search/result/metadata/expand/source/expand_source.html.twig' ignore missing %}
{# Ort #}
            {% include 'partials/search/result/metadata/expand/coords/expand_coords.html.twig' ignore missing %}
{# Webseite #}
            {% include 'partials/search/result/metadata/expand/landing_page/expand_landing_page.html.twig' ignore missing %}
{# Rechtsgrundlage für die Zugangseröffnung #}
            {% include 'partials/search/result/metadata/expand/legal_basis/expand_legal_basis.html.twig' ignore missing %}
{# Qualitätssicherungsprozess URI #}
            {% include 'partials/search/result/metadata/expand/quality_process_uri/expand_quality_process_uri.html.twig' ignore missing %}
{# Open Data Kategorie #}
            {% include 'partials/search/result/metadata/expand/categories/expand_categories.html.twig' ignore missing %}
{# XML Darstellung #}
            <div class="teaser-links">
                {% if "wfs" not in datatypes
                    and "www" not in datatypes
                    and "address" not in datatypes
                %}
                    {% include 'partials/search/result/metadata/expand/xml/expand_csw_xml.html.twig' ignore missing %}
                {% endif %}
            </div>
        </div>
{# Vorschau / Karte #}
{% set hasPreview = previews|length > 0 %}
{% set hasArea = bboxes|length > 0 or wkts|length > 0 or bwastrs|length > 0 %}
        <div class="columns">
            {% if "wfs" in datatypes %}
                {% if hasPreview %}
                    <div class="swiper-container-background">
                        {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_AREA"|t, null, 'text-center') }}
                        {{ previews[0].url|raw }}
                    </div>
                {% elseif hasArea %}
                    {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_AREA"|t, null, 'text-center') }}
                    {% include 'partials/global/map/map.html.twig' with { coords: bboxes, displayControls: false, mapId: hitMapId, usePopUp: false } %}
                {% endif %}
            {% else %}
                {% if hasPreview and hasArea %}
                    <div class="swiper-container_{{ hitOpenId }} swiper-container swiper-container-background">
                        <div class="swiper-wrapper">
                {% else %}
                    <div class="swiper-container-background">
                {% endif %}
{# Vorschau #}
                {% if hasPreview %}
                    {% for link in previews %}
                        <div class="swiper-slide">
                            {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_PREVIEW"|t, null, 'text-center') }}
                            <a target="_blank" class="external-link" href="{{ link.url }}" title="{{ link.title }}" rel="noopener noreferrer">
                                <img {% if 'http:' in link.url %} src="./" data-src={% else %} src={% endif %}"{{ link.url }}" height="100" class="preview_image" alt="{{ link.title }}" title="{{ link.title }}" onerror="loadDefaultMapImage(this, '{{ url("theme://images/maps/image_map_" ~ partners[0] ~ ".png") }}', '{{ url("theme://images/maps/image_map.png") }}');">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
{# Karte #}
                {% if hasArea %}
                    {% if hasPreview and hasArea %}
                        <div class="swiper-slide">
                    {% endif %}
                    {{ hit_macros.render_fact_title("SEARCH_RESULT.INFO_AREA"|t, null, 'text-center') }}
                    {% include 'partials/global/map/map.html.twig' with { coords: bboxes, geojsons: wkts, bwastrs: bwastrs, displayControls: false, mapId: hitMapId, usePopUp: false } %}
                    {% if hasPreview and hasArea %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if hasPreview and hasArea %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <script>
                        var swiper_{{ hitOpenId }} = new Swiper (".swiper-container_{{ hitOpenId }}", {
                            spaceBetween: 10,
                            grabCursor: true,
                            updateOnWindowResize: true,
                            observer: true,
                            observeParents: true,
                            pagination: {
                                el: '.swiper-pagination',
                                clickable: true
                            }
                        });
                    </script>
                {% else %}
                    </div>
                {% endif %}
    {# Kartenansicht #}
                {% if (map.url and mapUrl) or mapUrlClient %}
                    <p class="caption">
                        <a target="_blank" class="button small" href="{{ mapUrlClient ?: (page.find('/map').url ~ mapUrl) }}" title="{{ "COMMON.RESULT_SHOWMAP_TOOLTIP"|t }}">
                            <span>{{ "COMMON.RESULT_SHOWMAP"|t }}</span>
                        </a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>