{# Literatur #}
<div class="sub-section">
    <a class="anchor" id="{{ hash_info }}_technical_information"></a>
    {{ hit_macros.render_group_title("SEARCH_DETAIL.TECHNICAL_INFORMATION"|t) }}
{# Autor #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_AUTOR"|t, infoRefs.literaturAutor) }}
{# Standort #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_LOC"|t, infoRefs.literaturLoc) }}
{# Herausgeber #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_PUBLISHER"|t, infoRefs.literaturPublisher) }}
{# Erscheinungsort #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_PUBLISH_LOC"|t, infoRefs.literaturPublishLoc) }}
{# Verlag #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_PUBLISHING"|t, infoRefs.literaturPublishing) }}
{# Erschienen in #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_PUBLISH_IN"|t, infoRefs.literaturPublishIn) }}
{# Erscheinungsjahr #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_PUBLISH_YEAR"|t, infoRefs.literaturPublishYear) }}
{# Band, Heft #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_VOLUME"|t, infoRefs.literaturVolume) }}
{# Seiten #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_SIDES"|t, infoRefs.literaturSides) }}
{# ISBN-Nummer des Dokumentes #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_ISBN"|t, infoRefs.literaturIsbn) }}
{# Dokumententyp #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_TYP"|t, infoRefs.literaturTyp) }}
{# Basisdaten #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_BASE"|t, infoRefs.literaturBase) }}
{# Weitere bibliographische Angaben #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_DOC_INFO"|t, infoRefs.literaturDocInfo) }}
{# Erläuterung zum Fachbezug #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_LITERATUR_DESCRIPTION"|t, infoRefs.literaturDescription) }}
</div>
