{# Geodatendienst #}
<div class="sub-section">
    <a class="anchor" id="{{ hash_info }}_technical_information"></a>
    {{ hit_macros.render_group_title("SEARCH_DETAIL.TECHNICAL_INFORMATION"|t) }}
{# Identifikator #}
    {% include 'partials/detail/metadata/parts/information/information_type_3_identificator.html.twig' ignore missing %}
{# Digitale Repräsentation #}
    {% include 'partials/detail/metadata/parts/information/information_type_3_representation_type.html.twig' ignore missing %}
{# Klassifikation des Dienstes #}
    {{ hit_macros.render_label_text_list_row("SEARCH_DETAIL.T011_OBJ_SERV_TYPE"|t, (infoRefs.classifications ?? [])|sort) }}
{# Art des Dienstes #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_TYPE_ART"|t, infoRefs.serviceType) }}
{# Version des Services #}
    {{ hit_macros.render_label_text_list_row("SEARCH_DETAIL.T011_OBJ_SERV_VERSION_VERSION"|t, (infoRefs.serviceTypeVersions ?? [])|sort) }}
{# Systemumgebung #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_ENVIRONMENT"|t, infoRefs.environmentDescription) }}
{# Historie #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_HISTORY"|t, infoRefs.processStepDescription) }}
{# Fachliche Grundlage #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_GEO_SPECIAL_BASE"|t, infoRefs.lineageStatement) }}
{# Basisdaten #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_BASE"|t, infoRefs.sourceDescription) }}
{# Erläuterung zum Fachbezug #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_DESCRIPTION"|t, infoRefs.supplementalInformation) }}
{# Erläuterung zum Fachbezug (*) #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_DESCRIPTION"|t, infoRefs.supplementalInformationAbstract) }}
{# Operationen #}
    {% include 'partials/detail/metadata/parts/information/information_type_3_operations.html.twig' %}
{# Operation -> Zugriffsadresse #}
    {% set tmpTitle = "SEARCH_DETAIL.SHOWGETCAPABILITYURL"|t %}
    {% if accessConstraint is same as("true") %}
        {% set tmpTitle = "SEARCH_DETAIL.SHOWGETCAPABILITYURLRESTRICTED"|t %}
    {% endif %}
    {{ hit_macros.render_label_link(tmpTitle, "SEARCH_DETAIL.SHOWGETCAPABILITYURL_TITLE"|t, infoRefs.operationConnectPoint, "external") }}
</div>