{# Projekt #}
<div class="sub-section">
    <a class="anchor" id="{{ hash_info }}_technical_information"></a>
    {{ hit_macros.render_group_title("SEARCH_DETAIL.TECHNICAL_INFORMATION"|t) }}
{# Projekt #}
    {% include 'partials/detail/metadata/parts/information/information_project.html.twig' ignore missing %}
{# Projektleiter #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_PROJECT_LEADER"|t, infoRefs.projectLeader) }}
{# Beteiligte #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_PROJECT_MEMBER"|t, infoRefs.projectMember) }}
{# Erläuterung des Fachbezug #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_PROJECT_DESCRIPTION"|t, infoRefs.projectDescription) }}
</div>
