{# Informationsystem #}
<div class="sub-section">
    <a class="anchor" id="{{ hash_info }}_technical_information"></a>
    {{ hit_macros.render_group_title("SEARCH_DETAIL.TECHNICAL_INFORMATION"|t) }}
{# Systemumgebung #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_ENVIRONMENT"|t, infoRefs.environmentDescription) }}
{# Historie #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_HISTORY"|t, infoRefs.processStepDescription) }}
{# Basisdaten #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_BASE"|t, infoRefs.sourceDescription) }}
{# Erläuterung zum Fachbezug #}
    {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T011_OBJ_SERV_DESCRIPTION"|t, infoRefs.supplementalInformation) }}
</div>
