{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
    {% for selected_facet, values in selected_facets %}
        {% if facet == 'bbox' %}
            {% set actionLink = getActionLinkFromFacets(search_result.facets, 'bbox', '') %}
            <a href="{{ base_url }}{{ actionLink }}" class="button pill">
                {{ 'FACETS.FACET-LABEL.MAP'|t }}: {{ values }}
                <span class="ic-ic-cross"></span>
            </a>
        {% else %}
            {% for value in values | split(',') %}
                {% set actionLink = getActionLinkFromFacets(search_result.facets, facet, facetItem) %}
                {% set label = ('FACETS.FACET-LABEL.' ~ selected_facet ~ '.' ~ facetItem)|upper %}
                {% if search_result.facets %}
                    {% set break = false %}
                    {% for facetItem in search_result.facets if not break %}
                        {% if selected_facet == facetItem.id %}
                            {% set breakChild = false %}
                            {% for facet in facetItem.items if not breakChild %}
                                {% if value == facet.value %}
                                    {% set label = facet.label %}
                                    {% set breakChild = true %}
                                {% endif %}
                            {% endfor %}
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <a href="{{ base_url }}{{ actionLink }}" id="{{ selected_facet }}" class="button pill">
                    {{ ('FACETS.FACET-LABEL.' ~ selected_facet)|upper|t }}: {{ label|t }}
                    <span class="ic-ic-cross"></span>
                </a>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if selected_facets|length > 0 %}
        <a type="reset" href="{{ page.find('/search').url }}?q={{ uri.query('q') }}" class="button pill">
            {{ "SEARCH_RESULT.FACET_DELETE_SELECTION"|t }}
        </a>
    {% endif %}
</div>

{% if search_result.hits|length > 0 %}
    {% include 'partials/global/map/leaflet.html.twig' %}
    {% for hit in search_result.hits %}
        {% if in_array('address', hit.datatypes) %}
            {% include 'partials/search/result/address/result_address.html.twig' with {hit:hit, counter: loop.index0} %}
        {% elseif in_array('www', hit.datatypes) %}
            {% include 'partials/search/result/www/result_www.html.twig' with {hit:hit} %}
        {% else %}
            {% include 'partials/search/result/metadata/result_metadata.html.twig' with {hit:hit, counter: loop.index0} %}
        {% endif %}
  {% endfor %}
  {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>{{ "COMMON.RESULT_NORESULTS"|t }}</strong><br /><br /></p>
{% endif %}
