{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
    <form action="{{ page.find('/search').url }}?{{ uri.query }}" method="post" name="removeFacet" id="removeFacet">
        <input type="hidden" name="removeFacet" value="true" />
        {% for facet, value in selected_facets %}
            {% for facetItem in value %}
                <button type="submit" id="{{ facet }}" class="button pill" name="{{ facet }}" value="{{ facetItem }}">
                    {{ ('facet-label.' ~ facet) | t}}: {{ (facet ~ '.' ~ facetItem) | t }}
                    <span class="ic-ic-cross"></span>
                </button>
            {% endfor %}
        {% endfor %}
        {% if selected_facets|length > 0 %}
            <a type="reset" href="{{ page.find('/search').url }}?q={{ uri.query('q') }}" class="button pill">
                Alle Einschränkungen löschen
            </a>
        {% endif %}
    </form>
</div>

{% if search_result.hits|length > 0 %}
    {% for hit in search_result.hits %}
        {% if in_array('address', hit.datatypes) %}
            {% include 'partials/search/result/address/result_address.html.twig' with {hit:hit, counter: loop.index0} %}
        {% elseif in_array('www', hit.datatypes) %}
            {% include 'partials/search/result/www/result_www.html.twig' with {hit:hit} %}
        {% else %}
            {% include 'partials/search/result/metadata/result_metadata.html.twig' with {hit:hit, counter: loop.index0} %}
        {% endif %}
  {% endfor %}
  {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>{{ "COMMON.RESULT_NORESULTS"|t }}</strong><br /><br /></p>
{% endif %}
