{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
    {% set hasFilterSelection = false %}
    {% for selected_facet, values in selected_facets %}
        {% if selected_facet == 'bbox' %}
            {% set actionLink = page.find('/search').url ~ '?' %}
            {% set queries = uri.query(null, true)|keys|filter(v => v != selected_facet) %}
            {% for key, param in queries %}
                {% set actionLink = actionLink ~ '&' ~ param|url_encode ~ '=' ~ uri.query(param)|url_encode %}
            {% endfor %}
            <a id="facet-pill-{{ selected_facet }}" href="{{ actionLink }}" class="button pill">
                {{ 'FACETS.FACET_LABEL.MAP'|t }}: {{ values }}
                <span class="ic-ic-cross"></span>
            </a>
            {% set hasFilterSelection = true %}
        {% else %}
            {% for value in values|split(',') %}
                {% if value is not empty %}
                    {% set actionLink = page.find('/search').url ~ '?' %}
                    {% set queries = uri.query(null, true) %}
                    {% set queries = queries|merge({
                        (selected_facet) : values|split(',')|filter(v => v != value)|join(',')
                    }) %}
                    {% if search_result.facets %}
                        {% set label = '' %}
                        {% set break = false %}
                        {% for facetItem in search_result.facets if not break %}
                            {% if selected_facet == facetItem.id %}
                                {% set breakChild = false %}
                                {% for facet in facetItem.items if not breakChild %}
                                    {% if value == facet.value %}
                                        {% set pill_label = facetItem.label|t %}
                                        {% if ('FACETS.FACET_PILL.' ~ facetItem.id|upper)|t != 'FACETS.FACET_PILL.' ~ facetItem.id|upper %}
                                            {% set pill_label = ('FACETS.FACET_PILL.' ~ facetItem.id|upper)|t %}
                                        {% endif %}
                                        {% set facet_label = facet.label|t %}
                                        {% if 'FACETS.' in facet_label%}
                                            {% set facet_label = facet.value %}
                                        {% endif %}
                                        {% set label = pill_label ~ ': ' ~ facet_label|t %}
                                        {% set actionLink = facet.actionLink %}
                                        {% set breakChild = true %}
                                    {% endif %}
                                {% endfor %}
                                {% set break = true %}
                            {% elseif selected_facet == facetItem.toggle.id %}
                                {% set label = facetItem.toggle.label.pill %}
                                {% set queries = queries|merge({
                                    (facetItem.toggle.id) : facetItem.toggle.active ? '' : facetItem.id
                                }) %}
                                {% for key, param in queries %}
                                    {% if key == facetItem.toggle.id %}
                                        {% set actionLink = actionLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
                                    {% endif %}
                                {% endfor %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                        {% if label %}
                            <a id="facet-pill-{{ selected_facet }}-{{ value }}" href="{{ actionLink }}" class="button pill">
                                {{ label|t }}
                                <span class="ic-ic-cross"></span>
                            </a>
                            {% set hasFilterSelection = true %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if selected_facets|length > 0 and hasFilterSelection %}
        <a type="reset" href="{{ facetResetActionUrl }}" class="button pill">
            {{ "SEARCH_RESULT.FACET_DELETE_SELECTION"|t }}
        </a>
    {% endif %}
    {% include 'partials/search/result/result_info.html.twig' ignore missing %}
</div>

{% if search_result.hits|length > 0 %}
    {% include 'partials/search/result/result_hits.html.twig' %}
    {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>{{ "COMMON.RESULT_NORESULTS"|t }}</strong><br /><br /></p>
{% endif %}
