{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
    {% for selected_facet, values in selected_facets %}
        {% if selected_facet == 'bbox' %}
            {% set actionLink = page.find('/search').url ~ '?' %}
            {% set queries = uri.query(null, true)|keys|filter(v => v != selected_facet) %}
            {% for key, param in queries %}
                {% set actionLink = actionLink ~ '&' ~ param|url_encode ~ '=' ~ uri.query(param)|url_encode %}
            {% endfor %}
            <a href="{{ actionLink }}" class="button pill">
                {{ 'FACETS.FACET-LABEL.MAP'|t }}: {{ values }}
                <span class="ic-ic-cross"></span>
            </a>
        {% else %}
            {% for value in values|split(',') %}
                {% if value is not empty %}
                    {% set actionLink = page.find('/search').url ~ '?' %}
                    {% set queries = uri.query(null, true) %}
                    {% set queries = queries|merge({
                        (selected_facet) : values|split(',')|filter(v => v != value)|join(',')
                    }) %}
                    {% if facetItem %}
                        {% set label = ('FACETS.FACET-LABEL.' ~ selected_facet ~ '.' ~ facetItem)|upper %}
                        {% if search_result.facets %}
                            {% set break = false %}
                            {% for facetItem in search_result.facets if not break %}
                                {% if selected_facet == facetItem.id %}
                                    {% set breakChild = false %}
                                    {% for facet in facetItem.items if not breakChild %}
                                        {% if value == facet.value %}
                                            {% set label = facet.label %}
                                            {% set breakChild = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set break = true %}
                                {% elseif selected_facet == facetItem.toggle.id %}
                                    {% set label = facetItem.toggle.label.pill %}
                                    {% set queries = queries|merge({
                                        (facetItem.toggle.id) : facetItem.toggle.active ? '' : facetItem.id
                                    }) %}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% for key, param in queries %}
                            {% set actionLink = actionLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
                        {% endfor %}
                        <a href="{{ actionLink }}" id="{{ selected_facet }}" class="button pill">
                            {% set categoryLabel = ('FACETS.FACET-LABEL.' ~ selected_facet)|upper|t %}
                            {% if categoryLabel == ('FACETS.FACET-LABEL.' ~ selected_facet)|upper %}
                                {{ label|t }}
                            {% else %}
                                {{ ('FACETS.FACET-LABEL.' ~ selected_facet)|upper|t }}: {{ label|t }}
                            {% endif %}
                            <span class="ic-ic-cross"></span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if selected_facets|length > 0 %}
        {% set actionLink = page.find('/search').url ~ '?' %}
        {% set queries = uri.query(null, true)|keys %}
        {% for selected_facet, values in selected_facets %}
            {% if search_result.facets %}
                {% set break = false %}
                {% for facetItem in search_result.facets if not break %}
                    {% if selected_facet == facetItem.id %}
                        {% set queries = queries|filter(v => v != facetItem.id) %}
                        {% set break = true %}
                    {% elseif selected_facet == facetItem.toggle.id %}
                        {% if facetItem.toggle.id not in queries %}
                            {% set queries = queries|merge({
                                (queries|length) : facetItem.toggle.id
                            }) %}
                            {% set break = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for key, param in queries %}
            {% set actionLink = actionLink ~ '&' ~ param|url_encode ~ '=' %}
        {% endfor %}
        {% if selected_facets %}
            {% set break = false %}
            {% for selected_facet, values in selected_facets if not break %}
                {% if values %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            {% if break %}
            <a type="reset" href="{{ actionLink }}" class="button pill">
                {{ "SEARCH_RESULT.FACET_DELETE_SELECTION"|t }}
            </a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% include 'partials/search/result/result_info.html.twig' ignore missing %}
</div>

{% if search_result.hits|length > 0 %}
    {% include 'partials/global/map/leaflet.html.twig' %}
    {% for hit in search_result.hits %}
        {% if in_array('address', hit.datatypes) %}
            {% include 'partials/search/result/address/result_address.html.twig' with {hit:hit, counter: loop.index0} %}
        {% elseif in_array('blp', hit.datatypes) %}
            {% include 'partials/search/result/blp/result_blp.html.twig' ignore missing with {hit:hit} %}
        {% elseif in_array('www', hit.datatypes) %}
            {% include 'partials/search/result/www/result_www.html.twig' with {hit:hit} %}
        {% else %}
            {% include 'partials/search/result/metadata/result_metadata.html.twig' with {hit:hit, counter: loop.index0} %}
        {% endif %}
  {% endfor %}
  {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>{{ "COMMON.RESULT_NORESULTS"|t }}</strong><br /><br /></p>
{% endif %}
