{# @var search_result \Grav\Plugin\SearchResult #}

<div class="results-index">
    <div class="row">
        {% include 'partials/search/result/result_counter.html.twig' %}
    </div>
</div>
<div class="filters-active">
    {% for facet, values in selected_facets %}
        {% if facet == 'bbox' %}
            {% set actionLink = getActionLinkFromFacets(search_result.facets, 'bbox', '') %}
            <a href="{{ base_url }}{{ actionLink }}" class="button pill">
                Raumbezug: {{ values }}
                <span class="ic-ic-cross"></span>
            </a>
        {% else %}
            {% for facetItem in values | split(',') %}
                {% set actionLink = getActionLinkFromFacets(search_result.facets, facet, facetItem) %}
                <a href="{{ base_url }}{{ actionLink }}" id="{{ facet }}" class="button pill">
                    {{ ('facet-label.' ~ facet) | t}}: {{ (facet ~ '.' ~ facetItem) | t }}
                    <span class="ic-ic-cross"></span>
                </a>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if selected_facets|length > 0 %}
        <a type="reset" href="{{ page.find('/search').url }}?q={{ uri.query('q') }}" class="button pill">
            {{ "SEARCH_RESULT.FACET_DELETE_SELECTION"|t }}
        </a>
    {% endif %}
</div>

{% if search_result.hits|length > 0 %}
    {% include 'partials/global/map/leaflet.html.twig' %}
    {% for hit in search_result.hits %}
        {% if in_array('address', hit.datatypes) %}
            {% include 'partials/search/result/address/result_address.html.twig' with {hit:hit, counter: loop.index0} %}
        {% elseif in_array('www', hit.datatypes) %}
            {% include 'partials/search/result/www/result_www.html.twig' with {hit:hit} %}
        {% else %}
            {% include 'partials/search/result/metadata/result_metadata.html.twig' with {hit:hit, counter: loop.index0} %}
        {% endif %}
  {% endfor %}
  {% include 'partials/search/result/result_counter_bottom.html.twig' %}
{% else %}
    <p><strong>{{ "COMMON.RESULT_NORESULTS"|t }}</strong><br /><br /></p>
{% endif %}
