{# FactSheet #}

<div class="data">
    <div class="teaser-data search row is-active">
        <div class="xsmall-24 small-24 {% if previews or mapUrl %} medium-14 large-14 xlarge-14{% endif %}columns">
        {# Durch die Ressource abgedeckte Zeitspanne #}
            {% if class == 1 or class == 3 or class == 5 or class == 6 %}
                {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE_CONTENT"|t %}
            {% else %}
                {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE"|t %}
            {% endif %}
            {% set toIndeterminate = "" %}
            {% if timeRefs.fromType and timeRefs.fromType == "now" %}
                {% set toIndeterminate = "COMMON.TIME_UNTILNOW"|t %}
            {% else %}
                {% set toIndeterminate = "COMMON.TIME_UNTILUNKNOWN"|t %}
            {% endif %}
            {% if timeRefs.timeBegin or timeRefs.timeEnd or timeRefs.timeAt %}
                {% set timeAt = timeRefs.timeAt ? timeRefs.timeAt|date("d.m.Y", false) : "" %}
                {% set timeBegin = timeRefs.timeBegin ? timeRefs.timeBegin|date("d.m.Y", false) : "" %}
                {% set timeEnd = timeRefs.timeEnd ? timeRefs.timeEnd|date("d.m.Y", false) : "" %}
                {% if timeAt %}
                    {{ hit_macros.render_label_text(tmpTitle, "COMMON.TIME_AT"|t ~ " " ~ timeAt) }}
                {% elseif timeBegin == timeEnd %}
                    {{ hit_macros.render_label_text(tmpTitle, "COMMON.TIME_AT"|t ~ " " ~ timeBegin) }}
                {% elseif timeBegin and timeEnd is empty %}
                    {{ hit_macros.render_label_text(tmpTitle, "COMMON.TIME_SINCE"|t ~ " " ~ timeBegin ~ toIndeterminate) }}
                {% elseif timeBegin is empty and timeEnd %}
                    {{ hit_macros.render_label_text(tmpTitle, "COMMON.TIME_UNTIL"|t ~ " " ~ timeEnd) }}
                {% elseif timeBegin != timeEnd %}
                    {{ hit_macros.render_label_text(tmpTitle, "COMMON.TIME_FROM"|t ~ " " ~ timeBegin ~ " " ~ "COMMON.TIME_TO"|t ~ " " ~ timeEnd) }}
                {% endif %}
            {% endif %}
        {# URL des Zugangs #}
            {% if linkAccessRefs and linkAccessRefs|length > 0 %}
            <div class="sub-section sub-section-unlined">
                {% set tmpTitle = "SEARCH_DETAIL.ACCESS_URL"|t %}
                {{ hit_macros.render_label_link_image_list(tmpTitle, linkAccessRefs, "external", page, false, 2) }}
            </div>
            {% endif %}
        {# Downloads #}
            {% if linkDownloadRefs and linkDownloadRefs|length > 0 %}
            <div class="sub-section sub-section-unlined">
                {% set tmpTitle = "SEARCH_DETAIL.DOWNLOADS"|t %}
                {{ hit_macros.render_label_link_image_list(tmpTitle, linkDownloadRefs, "download", page, false, 2) }}
            </div>
            {% endif %}
        {# Links #}
            {% if linkObjectRefs and linkObjectRefs|length > 0 %}
            <div class="sub-section sub-section-unlined">
                {% set tmpTitle = "SEARCH_DETAIL.INFO_LINKS"|t %}
                {{ hit_macros.render_label_link_image_list(tmpTitle, linkObjectRefs, null, page, true, 2, partners) }}
            </div>
            {% endif %}
        {# Zitat für diesen Datensatz #}
            {% include 'partials/detail/metadata/parts/factsheet/factsheet_citation.html.twig' ignore missing %}
        {# Lizenz #}
            {% include 'partials/detail/metadata/parts/factsheet/factsheet_license.html.twig' %}
        {# Zugriffsbeschränkungen #}
            {% include 'partials/detail/metadata/parts/factsheet/factsheet_restriction.html.twig' ignore missing %}
        {# BAW Auftrag #}
            {% include 'partials/detail/metadata/parts/factsheet/factsheet_aggregate_data_set_name.html.twig' ignore missing %}
        {# Kontakt #}
            {{ hit_macros.render_contact_facts("", contactRefs, sortAddressTyp) }}
        </div>
        {# Zeige in Karte #}
         {% include 'partials/detail/metadata/parts/factsheet/factsheet_preview.html.twig' %}
    </div>
</div>