{# Labordaten #}

<div class="section">
    <a class="anchor" id="{{ hash_laboratory }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.LABORATORY.TITLE"|t) }}
    <div class="sub-section">
{# Anlass der Datenerhebung #}
        {{ hit_macros.render_label_text_list_row("Anlass der Datenerhebung", laboratory.dataCollectionReason) }}
{# Probenherkunft #}
        {{ hit_macros.render_label_text_list_row("Probenherkunft", laboratory.sampleOrigin) }}
{# Geprüftes Material #}
        {{ hit_macros.render_label_text_list_row("Geprüftes Material", laboratory.testedMaterial) }}
{# Mess- und Prüfverfahren / Gerät / Norm #}
        {% set header = [
            "Mess- und Prüfverfahren",
            "Messgerät",
            "Norm",
            "Ausgabedatum der Norm"
        ] %}
        {{ hit_macros.render_table("Mess- und Prüfverfahren / Gerät / Norm", header, laboratory.testMethod) }}
{# Zulassungsprüfung #}
        {% set header = [
            "Prüfnummer",
            "Aufbau des Systems",
            "Sichtbarkeit des Datensatzes",
            "Status"
        ] %}
        {{ hit_macros.render_table("Zulassungsprüfung", header, laboratory.isApprovalProcedure) }}
    </div>
</div>