{# Zeitbezug #}

{% if hasTimeData %}
    <div class="sub-section">
        <a class="anchor" {% if isTimeInDescription %}id="{{ hash_description }}_time_reference"{% else %}id="{{ hash_time }}_time_reference"{% endif %}></a>
        {% if class == 1 or class == 3 or class == 5 or class == 6 %}
            {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE_CONTENT" %}
        {% else %}
            {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE" %}
        {% endif %}
        {{ hit_macros.render_group_title(tmpTitle|t) }}

    {# Durch die Ressource abgedeckte Zeitspanne #}
        {% set toIndeterminate = "" %}
        {% if timeRefs.timeFromType and timeRefs.timeFromType == "now" %}
            {% set toIndeterminate = "COMMON.TIME_UNTILNOW"|t %}
        {% else %}
            {% set toIndeterminate = "COMMON.TIME_UNTILUNKNOWN"|t %}
        {% endif %}
        {% if timeRefs.timeBegin or timeRefs.timeEnd or timeRefs.timeAt %}
            {% set timeAt = timeRefs.timeAt ? timeRefs.timeAt|date("d.m.Y") : "" %}
            {% set timeBegin = timeRefs.timeBegin ? timeRefs.timeBegin|date("d.m.Y") : "" %}
            {% set timeEnd = timeRefs.timeEnd ? timeRefs.timeEnd|date("d.m.Y") : "" %}
            {% if timeAt %}
                {{ hit_macros.render_label_text_row((tmpTitle ~ "_ENTRY")|t, "COMMON.TIME_AT"|t ~ " " ~ timeAt) }}
            {% elseif timeBegin == timeEnd %}
                {{ hit_macros.render_label_text_row((tmpTitle ~ "_ENTRY")|t, "COMMON.TIME_AT"|t ~ " " ~ timeBegin) }}
            {% elseif timeBegin and timeEnd is empty %}
                {{ hit_macros.render_label_text_row((tmpTitle ~ "_ENTRY")|t, "COMMON.TIME_SINCE"|t ~ " " ~ timeBegin ~ toIndeterminate) }}
            {% elseif timeBegin is empty and timeEnd %}
                {{ hit_macros.render_label_text_row((tmpTitle ~ "_ENTRY")|t, "COMMON.TIME_UNTIL"|t ~ " " ~ timeEnd) }}
            {% elseif timeBegin != timeEnd %}
                {{ hit_macros.render_label_text_row((tmpTitle ~ "_ENTRY")|t, "COMMON.TIME_FROM"|t ~ " " ~ timeBegin ~ " " ~ "COMMON.TIME_TO"|t ~ " " ~ timeEnd) }}
            {% endif %}
        {% endif %}
    {# Zeitliche Genauigkeit #}
        {% include 'partials/detail/metadata/parts/time/time_measurement.html.twig' ignore missing %}
    {# Status #}
        {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T01_OBJECT_TIME_STATUS"|t, timeRefs.timeStatus, null, "text-capitalize") }}
    {# Periodizität #}
        {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T01_OBJECT_TIME_PERIOD"|t, timeRefs.timePeriod, null, "text-capitalize") }}
    {# Intervall der Erhebung #}
        {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T01_OBJECT_TIME_INTERVAL"|t, timeRefs.timeInterval) }}
    {# Erläuterung zum Zeitbezug #}
        {{ hit_macros.render_label_text_row("SEARCH_DETAIL.T01_OBJECT_TIME_DESCR"|t, timeRefs.timeDescr) }}
    </div>
{% endif %}

