{# Karte #}
{% if coords or geojsons or bwastrs %}
    {% set map_bg_wms = theme_var('map.leaflet.bg.layer.wms') %}
    {% set map_enable_wkt = theme_var('map.leaflet.enable.wkt') %}
    {% set map_enable_bwastr = theme_var('bwastr.enable') %}

    <div id="{{ mapId }}" class="map-ingrid" style="{% if mapHeight %}height:{{ mapHeight }};{% else %}height:320px;{% endif %} margin-bottom: 24px;"></div>

    <script>
        var id = '{{ mapId }}';
        $('#' + id).closest('.js-expander-content').removeClass('is-hidden');
        var coords = {{ (coords ?? [])|json_encode()|raw }};

        var bgLayer = getOSMLayer('');
        {% if map_bg_wms.url and map_bg_wms.name %}
            bgLayer = getWMSLayer('{{ map_bg_wms.url }}', '{{ map_bg_wms.name }}', '');
        {% endif %}
        var tmpMap = addLeafletMapWithId('{{ mapId }}', bgLayer, null, null , 10);
        {% if displayControls %}
            tmpMap.gestureHandling.enable();
        {% else %}
            disableLeafletMapTouchControl(tmpMap);
        {% endif %}

        {% include 'partials/global/map/map_features.html.twig' %}

        {% if not isHitOpen %}
            $('#' + id).closest('.js-expander-content').addClass('is-hidden');
        {% endif %}

        var features = [];
        tmpMap.eachLayer(function (layer) {
            if (layer && (layer.getBounds || layer.getLatLng)) {
                features.push(layer);
            }
        })
        if (features.length > 0) {
            bounds = L.featureGroup(features).getBounds();
            tmpMap.fitBounds(bounds);
        }
        {% if displayControls %}
            addLeafletHomeControl(tmpMap, 'Zoom auf initialen Kartenausschnitt', 'topleft', 'ic-ic-center', tmpMap.getBounds(), '', '23px');
        {% endif %}
    </script>
{% endif %}