{% set header_title_extend = theme_var('header.title_extend') %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    {% include 'partials/header/title.html.twig' %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/header/metadata.html.twig' %}
    {% include 'partials/header/favicon/favicon.html.twig' %}
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/main.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('theme://css/leaflet-custom.css', 98) %}

    {% block stylesheets_leaflet %}{% endblock %}
    {% block stylesheets_image_swiper %}{% endblock %}
    {% block partner_css %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/modernizr.custom.min.js') %}
    {% do assets.addJs('jquery') %}
    {% do assets.addJs('theme://js/jquery/nicescroll/jquery.nicescroll.min.js') %}
    {% do assets.addJs('theme://js/jquery/foundation/foundation.min.js') %}
    {% do assets.addJs('theme://js/jquery/select2/select2.full.js') %}
    {% do assets.addJs('theme://js/main.js') %}
    {% do assets.addJs('theme://js/ingrid.js') %}

    {% block javascripts_leaflet %}{% endblock %}
    {% block javascripts_image_swiper %}{% endblock %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    <link href="{{ url('theme://css/print.css') }}" type="text/css" rel="stylesheet" media="print">
    {{ assets.js()|raw }}
{% endblock %}

</head>
{% if page.slug == 'map' %}
    {% set shrinkHeader = theme_var('map.shrink_header') %}
    {% if shrinkHeader %}
        {% set bodyShrink = 'shrink-default' %}
    {% endif %}
{% endif %}
<body id="top" class="{{ page.header.body_classes|e }} {{ bodyShrink }} page-{{ page.slug }}">
{% if page.header.container_body_disabled is null %}
    <div class="container">
{% endif %}
        {% block menu %}
            {% include 'partials/menu.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        <div class="body ingrid" role="main">
        {% block body %}
            {% block content_header %}
                {% if page.header.content_header_disabled is null %}
                <div class="banner subpage ">
                    {% include 'partials/subpage/subpage_banner.html.twig' %}
                </div>
                {% endif %}
            {% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% if page.header.footer_disabled != true %}
            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock %}
        {% endif %}
        </div>

        {% block bottom %}
            {% include 'partials/footer/javascript.html.twig' %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

        {% if page.header.toggleTag %}
            {% include 'partials/footer/toggle_tag.html.twig' ignore missing %}
        {% endif %}

        <script>
        $('.js-anchor-target').anchorTarget();
        </script>

        <!-- Anchor navigation -->
        <script>
            $('.js-anchor-navigation').anchorNavigation();
        </script>
        {% if page.header.hasImageSwiper %}
            <script>
            var mySwiper = new Swiper ('.swiper-container', {
                grabCursor: true,
                pagination: {
                el: '.swiper-pagination',
                clickable: true
                },
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
                },
                scrollbar: {
                el: '.swiper-scrollbar'
                },
            });
            </script>
        {% endif %}
{% if page.header.container_body_disabled is null %}
    </div>
{% endif %}
{% include 'partials/footer/matomo.html.twig' ignore missing %}
</body>
</html>
