{% set header_title_extend = theme_var('header_title_extend') %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if page_custom_title %}{{ page_custom_title }} | {% elseif header.title %}{{ header.title|t|e }} | {% endif %}{{ header_title_extend|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/main.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('theme://css/leaflet-custom.css', 98) %}
    {% if page.header.hasLeaflet %}
        {% do assets.addCss('theme://js/leaflet/plugins/leaflet.draw/leaflet.draw.css', 98) %}
        {% include 'partials/header/leaflet/css.html.twig' %}
    {% endif %}
    {% if page.header.hasImageSwiper %}
        {% include 'partials/header/swiper/css.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/modernizr.custom.min.js') %}
    {% do assets.addJs('jquery') %}
    {% do assets.addJs('theme://js/jquery/nicescroll/jquery.nicescroll.min.js') %}
    {% do assets.addJs('theme://js/jquery/foundation/foundation.min.js') %}
    {% do assets.addJs('theme://js/jquery/select2/select2.full.js') %}
    {% do assets.addJs('theme://js/main.js') %}
    {% do assets.addJs('theme://js/ingrid.js') %}

    {% if page.header.hasLeaflet %}
        {% include 'partials/header/leaflet/javascript.html.twig' %}
    {% endif %}
    {% if page.header.hasImageSwiper %}
        {% include 'partials/header/swiper/javascript.html.twig' %}
    {% endif %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}

</head>
<body id="top" class="{{ page.header.body_classes|e }}">
    <div class="container">
        {% block menu %}
            {% include 'partials/menu.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}
            {% block content_header %}{% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% if page.header.footer_disabled != true %}
            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock %}
        {% endif %}
        {% block bottom %}
            {% include 'partials/footer/javascript.html.twig' %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

        <script>
        $('.js-anchor-target').anchorTarget();
        </script>

        <!-- Anchor navigation -->
        <script>
            $('.js-anchor-navigation').anchorNavigation();
        </script>
        {% if page.header.hasImageSwiper %}
            <script>
            var mySwiper = new Swiper ('.swiper-container', {
                grabCursor: true,
                pagination: {
                el: '.swiper-pagination',
                clickable: true
                },
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
                },
                scrollbar: {
                el: '.swiper-scrollbar'
                },
            });
            </script>
        {% endif %}
    </div>


</body>
</html>
