{% set numOfHits = search_result.numOfHits %}

<div>
    <h3>
    {% if query is empty %}
        {{ "COMMON.RESULT_COUNTER_RANKED"|t(numOfHits)|raw }}
    {% else %}
        {{ "COMMON.RESULT_COUNTER_RANKED_WITHSEARCHVALUE"|t(numOfHits, query)|raw }}
    {% endif %}
    </h3>
</div>
{% if numOfHits > 0 %}
<div class="row">
    <span  class="result-text no-margin">
        <b>{{ "SEARCH_RESULT.VIEW"|t }}</b>
    </span>
    <div class="js-expander-toggle-all">
        <a class="icon js-toggle-all-expander-collapse is-active" href="#" title="{{ "SEARCH_RESULT.VIEW_COLLAPSE"|t }}">
            <span class="ic-ic-view-colapsed"></span>
        </a>
        <a class="icon js-toggle-all-expander-expand" href="#" title="{{ "SEARCH_RESULT.VIEW_EXPAND"|t }}">
            <span class="ic-ic-view-expanded"></span>
        </a>
    </div>
</div>
{% endif %}