{% set numOfHits = search_result.numOfHits %}

<div>
    <h3>
    {% if query is empty %}
        {{ "COMMON.RESULT_COUNTER_RANKED"|t(numOfHits)|raw }}
    {% else %}
        {{ "COMMON.RESULT_COUNTER_RANKED_WITHSEARCHVALUE"|t(numOfHits, query)|raw }}
    {% endif %}
    </h3>
</div>

{% set isExpandable = theme_var('hit_search.expandable.enabled') %}
{% set hasSort = theme_var('hit_search.sort.enabled') %}

<div class="row">
{% if numOfHits > 0 and isExpandable %}
    <span  class="result-text no-margin">
        <b>{{ "SEARCH_RESULT.VIEW"|t }}</b>
    </span>
    <div class="js-expander-toggle-all">
        <a class="icon js-toggle-all-expander-collapse is-active" href="#" title="{{ "SEARCH_RESULT.VIEW_COLLAPSE"|t }}">
            <span class="ic-ic-view-colapsed"></span>
        </a>
        <a class="icon js-toggle-all-expander-expand" href="#" title="{{ "SEARCH_RESULT.VIEW_EXPAND"|t }}">
            <span class="ic-ic-view-expanded"></span>
        </a>
    </div>
{% endif %}
{% if (hasSort or display_sort_hits) %}
    <span class="result-text no-margin">
        <b>{{ "SEARCH_RESULT.SORT"|t }}</b>
    </span>
    <div class="sort">
        <div class="form-element" style="display:inline;">
            <form action="{{ page.find('/search').url }}?{{ uri.query }}" method="get" name="sortForm" id="sortForm" style="display:inline;">
                {% for params in uri.query()|split('&') %}
                    {% set param = params|split('=') %}
                    {% set key = param[0] %}
                    {% if key is not empty %}
                        {% set value = uri.query(key) %}
                        {% if key is not sameas('ranking') and key is not sameas('page') %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <select class="select2" id="ranking" name="ranking" aria-hidden="true" onchange="this.form.submit();">
                    <option value="score" {% if search_ranking == 'score' %}selected{% endif %}>{{ "SEARCH_RESULT.SORT_SCORE"|t }}</option>
                    <option value="date" {% if search_ranking == 'date' %}selected{% endif %}>{{ "SEARCH_RESULT.SORT_TIME"|t }}</option>
                </select>
            </form>
        </div>
    </div>
{% endif %}
</div>