{% set hits = hits_result.hits %}
{% set summary_lines_limit = theme_var('hit_search.summary_lines_limit') %}
{% set summary_replace_newline = theme_var('hit_search.summary_replace_newline') %}
{% set map_leaflet_config = theme_var('map.leaflet') %}

{% include 'partials/global/map/leaflet.html.twig' %}

<div class="columns">
    <div class="teaser-data-projects">
        <div class="row">
            <div class="xsmall-24 medium-15 xlarge-17 columns">
                <h2 class="projects-header">{{ "SEARCH_RESULT.HITTEASER_PORTLET_TITLE"|t }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns">
            {% if hits %}
                {% for hit in hits %}
                    {% set detailLink = page.find('/detail').url ~ "?docuuid=" ~ hit.uuid %}
                    {% set bboxes = hit.map_bboxes %}
                    {% set hitMapId = 'hit_map_' ~ loop.index %}
                    <div class="teaser-data no-padding">
                        <div class="data" >
                            <div class="row">
                                <div class="xsmall-24 large-13 columns">
                                    <div class="text-wrapper">
                                        <div class="helper text">
                                            <span>{{ hit.type_name }}</span>
                                        </div>
                                        <a href="{{ detailLink }}" title="{{ hit.title }}">
                                            <h2 class="header">
                                                {{ hit.title }}
                                            </h2>
                                        </a>
                                        {% if hit.time %}
                                        <div class="helper text date">
                                            <span class="">{{ hit.time }}</span>
                                        </div>
                                        {% endif %}
                                        {% if hit.summary %}
                                            <p class="data-text" {% if summary_lines_limit %} style="-webkit-line-clamp: {{ summary_lines_limit }};"{% endif %}>
                                                {{  convertUrlInText(hit.summary)|replace({'\n': summary_replace_newline})|raw }}
                                            </p>
                                        {% endif %}
                                        {% for category in hit.categories %}
                                        <div class="helper icon">
                                            <span class="ic-ic-{{ category }}"></span>
                                            <span class="text">{{ ("SEARCH_RESULT.CATEGORIES_UVP_" ~ category|upper)|t }}</span>
                                        </div>
                                        {% endfor %}
                                        <a href="{{ detailLink }}" title="{{ hit.title }}">
                                            <span class="ic-ic-arrow arrow"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="xsmall-24 large-11 columns">
                                    <div class="map-wrapper">
                                        {% include 'partials/global/map/map.html.twig' with { coords: bboxes, geojson: wkt, isDetail: false, mapId: hitMapId, mapHeight: '100%'} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="columns text-center">
                <a class="button outline" href="{{ page.find('/search').url ~ "?rank=date" }}" >Mehr anzeigen<span class="ic-ic-angle-down"></span></a>
            </div>
        </div>
    </div>
</div>