{% set header_logo_enabled = theme_var('header.logo_enabled') %}
{% if header_logo_enabled %}
    {% set logo_default = theme_var('header.logo_default') %}
    {% set logo = theme_var('header.logo') %}
    {% set logo_lang_default = theme_var('header.logo_' ~ grav.language.getLanguage ~ '_default') %}
    {% set logo_lang = theme_var('header.logo_' ~ grav.language.getLanguage) %}

    {% if logo_lang %}
        {% set logo = logo_lang %}
    {% elseif logo_lang_default %}
        {% set logo = logo_lang_default %}
    {% endif %}

    {% if logo %}
        {% set header_logo_file = (logo|first).path %}
    {% elseif logo_default %}
        {% set header_logo_file = (logo_default|first).path %}
    {% endif %}

    <div class="logo" role="banner">
        <a href="{{ home_url }}" class="show-for-large hide-for-xsmall-only" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url(header_logo_file) }}" alt="{{ site.title }}" />
            <div class="vertical-line"></div>
            <p>PortalU<br>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
        <a href="{{ home_url }}" class="hide-for-xlarge hide-for-large hide-for-xsmall-only hide-for-small-only" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url(header_logo_file) }}" alt="{{ site.title }}"/>
            <div class="vertical-line"></div>
            <p>PortalU<br>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
        <a href="{{ home_url }}" class="hide-for-medium" title="{{ "PAGES.HOME_MENU_TITLE"|t }}">
            <img src="{{ url(header_logo_file) }}" alt="{{ site.title }}"/>
            <div class="vertical-line"></div>
            <p>Umweltportal<br>Rheinland-Pfalz</p>
        </a>
    </div>
{% endif %}