{# @var hit \Grav\Plugin\DetailAddressISO #}

{% import 'macros/hit_macros.html.twig' as hit_macros %}

{# theme_var #}
{% set sortAddressTyp = theme_var('hit_detail.address_order') %}
{% set addressUnlink = theme_var('hit_detail.address_unlink') %}

{# var #}
{% set hit = hit %}
{% set title = hit.title %}
{% set addressClass = hit.addressClass %}
{% set addressClassName = "COMMON.UDK_ADR_CLASS_NAME_" ~ addressClass %}
{% set summary = hit.summary %}
{% set contactRefs = hit.contacts %}
{% set linkRefs = hit.links %}
{% set linkObjectRefs = linkRefs|filterLinks("object") %}
{% set linkSubordinatedRefs = linkRefs|filterLinks("subordinated") %}
{% set linkSuperiorRefs = linkRefs|filterLinks("superior") %}
{# labels #}
{% set hash_overview = "detail_overview" %}
{% set hash_description = "detail_description" %}
{% set hash_links = "detail_links" %}
{% set hash_links_linkObjectRefs = "detail_links_objects" %}
{% set hash_links_linkSubordinatedRefs = "detail_links_subordinated" %}
{% set hash_links_linkSuperiorRefs = "detail_links_superior" %}
{% set label_overview = "SEARCH_DETAIL.GENERAL_TAB"|t %}
{% set label_description = "SEARCH_DETAIL.DETAIL_DESCRIPTION"|t %}
{% set label_links = "SEARCH_DETAIL.REFERENCES"|t %}
{% set label_links_linkObjectRefs = "SEARCH_DETAIL.DATARELATIONS"|t %}
{% set label_links_linkSubordinatedRefs = "SEARCH_DETAIL.SUBORDINATED_REFERENCES"|t %}
{% set label_links_linkSuperiorRefs = "SEARCH_DETAIL.SUPERIOR_REFERENCES"|t %}

<div class="banner-noimage m-filter">
    <div class="page-wrapper" style="background-image: url('{{ url('theme://images/template/drops-subpage.svg') }}');">
        <div class="row">
            <div class="xsmall-24 large-6 xlarge-6 columns">
                {% set backLink = page.find('/search').url ~ '?' %}
                {% set queries = uri.query(null, true) %}
                {% set excludeParams = ['docuuid', 'isAddress'] %}
                {% for key, param in queries %}
                    {% if key not in excludeParams %}
                        {% set backLink = backLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
                    {% endif %}
                {% endfor %}
                <a class="helper icon" href="{{ backLink }}" title="{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}" rel="noopener noreferrer">
                    <span class="ic-ic-arrow-left"></span>
                    <span class="text text-normal">{{ "SEARCH_DETAIL.BACK_TO_RESULTS"|t }}</span>
                </a>
            </div>
            <div class="xsmall-24 large-18 xlarge-18 columns">
                <div class="helper icon">
                    {{ hit_macros.render_address_icon(addressClass, addressClassName|t ) }}
                </div>
                <h2>{{ title }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="row nav-content search-filtered">
    {# Navigation #}
    <div class="xsmall-24 large-6 xlarge-6 columns">
        <div class="accordion accordion-filter-group filter" data-accordion data-allow-all-closed="true" role="tablist">
            <div class="accordion-item accordion-item-filter-group" data-accordion-item>
                <a href="#" class="accordion-title accordion-title-filter-group hide-for-large" role="tab" id="detail-accordion-label" aria-expanded="false" aria-selected="false">Inhalt</a>
                <div class="accordion-content filter-wrapper" data-tab-content role="tabpanel" aria-labelledby="detail-accordion-label" aria-hidden="true" id="detail-content-accordion">
                    <ul class="accordion filter-group nav-group" data-accordion data-allow-all-closed="true" role="tablist">
                    {# Übersicht #}
                        {% if contactRefs %}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#{{ hash_overview }}" class="accordion-title js-anchor-target" aria-controls="{{ hash_overview }}-accordion" role="tab" id="{{ hash_overview }}-accordion-label">
                                <span class="text">{{ label_overview }}</span>
                            </a>
                            <div class="accordion-content is-hidden" data-tab-content role="tabpanel" aria-labelledby="{{ hash_overview }}-accordion-label" aria-hidden="true" id="{{ hash_overview }}-accordion">
                                <div class="boxes">
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {# Beschreibung #}
                        {% if summary %}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#{{ hash_description }}" class="accordion-title js-anchor-target">
                                <span class="text">{{ label_description }}</span>
                            </a>
                            <div class="accordion-content is-hidden" data-tab-content role="tabpanel" aria-labelledby="{{ hash_description }}-accordion-label" aria-hidden="true" id="{{ hash_description }}-accordion">
                                <div class="boxes">
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {# Verweise #}
                        {% if linkRefs|length > 0 %}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#{{ hash_links }}" class="accordion-title js-anchor-target" aria-hidden="true" id="{{ hash_links }}-accordion-label">
                                <span class="text">{{ label_links }}</span>
                            </a>
                            <div class="accordion-content" data-tab-content role="tabpanel" aria-hidden="true" aria-labelledby="{{ hash_links }}-accordion-label" id="{{ hash_links }}-accordion">
                                <div class="boxes">
                                    {% if linkObjectRefs|length > 0 %}
                                        {{ hit_macros.render_sub_navigation(label_links_linkObjectRefs, hash_links_linkObjectRefs) }}
                                    {% endif %}
                                    {% if linkSuperiorRefs|length > 0 %}
                                        {{ hit_macros.render_sub_navigation(label_links_linkSuperiorRefs, hash_links_linkSuperiorRefs) }}
                                    {% endif %}
                                    {% if linkSubordinatedRefs|length > 0 %}
                                        {{ hit_macros.render_sub_navigation(label_links_linkSubordinatedRefs, hash_links_linkSubordinatedRefs) }}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a class="anchor" id="detail_overview"></a>
    <div class="xsmall-24 large-18 xlarge-18 columns">
    {# FactSheet #}
    {% if contactRefs %}
        <div class="data">
            <div class="teaser-data search row is-active">
                <div class="xsmall-24 small-24 columns">
            {# Adressen #}
                {{ hit_macros.render_contact_facts("SEARCH_DETAIL.CONTACT"|t, contactRefs, sortAddressTyp, true, addressUnlink) }}
                </div>
            </div>
        </div>
    {% endif %}
    {# Beschreibung #}
    {% if summary or alternateTitle %}
        <div class="section">
            <a class="anchor" id="{{ hash_description }}"></a>
            {{ hit_macros.render_title(label_description) }}
            <div class="row columns">
                {% if alternateTitles %}
                {# Kurzname #}
                    {% for alternateTitle in alternateTitles %}
                        <p class="slab-bold">{{ alternateTitle }}</p>
                    {% endfor %}
                {% endif %}
                {% if summary %}
                {# Beschreibung #}
                <div class="js-expand-box js-expand-text js-non-expand-text">
                    <div class="js-expand-text-content">
                    {{ summary }}
                    </div>
                    <div class="desc-fade"></div>
                </div>
                <button type="button" class="js-open-expand-text button outline is-hidden" title="{{ "SEARCH_DETAIL.INFO_MORE"|t }}">
                    {{ "SEARCH_DETAIL.INFO_MORE"|t }}
                </button>
                <button type="button" class="js-close-expand-text button outline is-hidden" title="{{ "SEARCH_DETAIL.INFO_LESS"|t }}">
                    {{ "SEARCH_DETAIL.INFO_LESS"|t }}
                </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {# Verweise #}
    {% if linkRefs %}
        <div class="section">
            <a class="anchor" id="{{ hash_links }}"></a>
            {{ hit_macros.render_title(label_links) }}
            {# Datenbezüge #}
                {% if linkObjectRefs %}
                    <div class="sub-section sub-section-unlined">
                        <a class="anchor" id="{{ hash_links_linkObjectRefs }}"></a>
                        {{ hit_macros.render_object_links(label_links_linkObjectRefs, linkObjectRefs, partners)}}
                    </div>
                {% endif %}
            {# Übergeordnete Adressen #}
                {% if linkSuperiorRefs %}
                    <div class="sub-section sub-section-unlined">
                        <a class="anchor" id="{{ hash_links_linkSuperiorRefs }}"></a>
                        {{ hit_macros.render_address_links(label_links_linkSuperiorRefs, linkSuperiorRefs)}}
                    </div>
                {% endif %}
            {# Untergeordnete Adressen #}
                {% if linkSubordinatedRefs %}
                    <div class="sub-section sub-section-unlined">
                        <a class="anchor" id="{{ hash_links_linkSubordinatedRefs }}"></a>
                        {{ hit_macros.render_address_links(label_links_linkSubordinatedRefs, linkSubordinatedRefs)}}
                    </div>
                 {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
</div>