{% extends 'partials/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block header_navigation %}
    {{  parent() }}
{% endblock %}

{% block hero %}
    {% for module in page.collection() if module.template == 'modular/hero' %}
        <div id="{{ module.menu|hyphenize }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="body" role="main">
    {% set sortModules  = theme_var(page.folder ~ '.sort_modules') %}
    {% if sortModules %}
        {% for sortModule in sortModules %}
            {% set module = page.find(sortModule.path) %}
            {% if not sortModule.hidden %}
                <div id="{{ module.menu|hyphenize }}"></div>
                {{ module.content|raw }}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for module in page.collection() if module.template != 'modular/hero' %}
            <div id="{{ module.menu|hyphenize }}"></div>
            {{ module.content|raw }}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
