{% macro render_section_title (title) %}
    <h3>{{ title }}</h3>
{% endmacro %}

{% macro render_group_title (title) %}
    <h4>{{ title }}</h4>
{% endmacro %}

{% macro render_fact_title (title, class) %}
    <h4 
    {% if class %}
    class="{{ class }}"
    {% endif %}
    >{{ title }}</h4>
{% endmacro %}

{% macro render_sub_navigation (title, hash) %}
    <a class="js-anchor-target-entry" href="#{{ hash }}">
        <span class="text">{{ title }}</span>
    </a>
{% endmacro %}

{% macro render_address_icon (class, title, altTitle) %}
   {% if class == 0 %}
      {# Institution #}
      <span class="ic-ic-intituition"
    {% elseif class == 1 %}
      {# Einheit #}
      <span class="ic-ic-einheit"
    {% elseif class == 2 %}
      {# Person #}
      <span class="ic-ic-people"
    {% elseif class == 3 %}
      {# Freie Adresse #}
      <span class="ic-ic-mailto"
    {% else %}
      <span 
    {% endif %}

    {% if altTitle %}
      title="{{ altTitle }}"
    {% elseif title %}
      title="{{ title }}"
    {% endif %}
    ></span>
    <span class="text">{{ title }}</span>
{% endmacro %}

{% macro render_hit_types (types, isTeaser, isMobile) %}
  {% if types and types|length > 0 %}
    <div class="info--right {% if isTeaser %}teaser-info{% endif %} {% if isMobile %}show-for-xsmall-only {% else %} hide-for-xsmall-only {% endif %}">
    {% for typ in types %}
      <span>{{ typ }}</span>
    {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_metadata_icon (class, title, altTitle) %}
    {% if class == 0 %}
      {# Fachaufgabe #}
      <span class="ic-ic-zulassungsverfahren" 
    {% elseif class == 1 %}
      {# Geodatensatz #}
      <span class="ic-ic-karte" 
    {% elseif class == 2 %}
      {# Literatur #}
      <span class="ic-ic-katalog" 
    {% elseif class == 3 %}
      {# Geodatendienst #}
      <span class="ic-ic-dienste" 
    {% elseif class == 4 %}
      {# Projekt #}
      <span class="ic-ic-projekt" 
    {% elseif class == 5 %}
      {# Datensammlung #}
      <span class="ic-ic-metadaten" 
    {% elseif class == 6 %}
      {# Informationssystem #}
      <span class="ic-ic-chemie" 
    {% else %}
      <span 
    {% endif %}

    {% if altTitle %}
      title="{{ altTitle }}"
    {% elseif title %}
      title="{{ title }}"
    {% endif %}
    ></span>
    <span class="text">{{ title }}</span>
{% endmacro %}

{% macro render_hit_searchterm (isInspire, isOpendata, isSecure) %}
  {% if isInspire or isOpendata or isSecure %}
    <div class="icon--info">
    {% if isSecure %}
      <div class="helper icon info">
          <span class="ic-ic-lock-closed" title="$MESSAGES.getString("common.result.hasAccessContraints")"></span>
          <span class="text">$MESSAGES.getString("common.result.hasAccessContraints")</span>
      </div>
    {% endif %}
    {% if isInspire %}
      <div class="helper icon info">
          <span class="ic-ic-inspire" title="INSPIRE"></span>
          <span class="text">INSPIRE</span>
      </div>
    {% endif %}
    {% if isOpendata %}
      <div class="helper icon info">
          <span class="ic-ic-opendata" title="Open Data"></span>
          <span class="text">Open Data</span>
      </div>
    {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_hit_logo (partner) %}
  {% if partner %}
    <div class="teaser-logo-partner">
      {% if partner != "all" and partner != "bund" %}
        <img src="{{ url('theme://images/partner/svg/' ~ partner ~ '.svg') }}" alt="{{partner}}" title="{{partner}}"/>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_hit_time (title, time) %}
  {% if time and time.type and (time.t0 or time.t1 or time.t2) %}
  <div class="helper date">
    {% if title %}
      <b>{{ title }}</b>:
    {% endif %}
    {% if "seitX" in time.type and time.t1 %}
      <span>seit {{ time.t1 }}, gegenwärtig aktuell</span>
    {% elseif "seit" in time.type and time.t1 %}
      <span>seit {{ time.t1 }}, gegenwärtige Aktualität unklar</span>
    {% elseif "von" in time.type and time.t1 and time.t2 %}
      {% if time.t1 is same as(time.t2) %}
        <span>{{ time.t1 }}</span>
      {% else %}
        <span>{{ time.t1 }} - {{ time.t2 }}</span>
      {% endif %}
    {% elseif "am" in time.type and time.t0 %}
      <span>{{ time.t0 }}</span>
    {% elseif "bis" in time.type and time.t2 %}
      <span>bis {{ time.t2 }}</span>
    {% endif %}
  </div>
  {% endif %}
{% endmacro %}

{% macro render_fact_title (title, num, class) %}
  <h4 {% if class %}class="{{ class }}"{% endif %}>
    {{ title }}
    {% if num %}
      <span>({{ num }})</span>
    {% endif %}
  </h4>
{% endmacro %}

{% macro render_object_links (title, items) %}
  {% if title %}
    <h4>{{ title }} ({{ items|length }})</h4>
  {% endif %}
  {% if items %}
    <div class="document-list">
      {% for item in items %}
        <div class="list-item">
          {{ _self.render_metadata_link(item) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_address_links (title, items) %}
  {% if title %}
    <h4>{{ title }} ({{ items|length }})</h4>
  {% endif %}
  {% if items %}
    <div class="document-list">
      {% for item in items %}
        <div class="list-item">
          {{ _self.render_address_link(item) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_metadata_link (item) %}
  {% set uuid = item.uuid %}
  {% set type = item.type %}
  {% set title = item.title %}
  {% set description = item.description %}
  {% set attachedToField = item.attachedToField %}
  {% set entryId = item.entryId %}
  {% set serviceType = item.serviceType %}
  {% set serviceUrl = item.serviceUrl %}
  {% set previews = item.previews %}

{# Titel #}
  {% if previews|length > 0 %}
    <div class="image">
      <div class="helper icon">
        {{ _self.render_metadata_icon(type, 'TODO', 'TODO') }}
      </div>
      <a href="?docuuid={{ uuid }}" class="icon" title="{{ title }}">
        <span class="text">{{ title }}</span>
      </a>
  {% else %}
    <div class="no-image">
      <div class="helper icon">
        {{ _self.render_metadata_icon(type, 'TODO', 'TODO') }}
      </div>
      <a href="?docuuid={{ uuid }}" class="icon" title="{{ title }}">
        {{ title }}
      </a>
  {% endif %}

{# Vorschau #}
  {% if previews|length > 1 %}
    <div class="preview">
      <div class="swiper-container swiper-container-background">
        <div class="swiper-wrapper">
        {% for preview in previews %}
          <div class="swiper-slide">
            <p class="caption">
              <a target="_blank" class="external-link" href="{{ preview }}" title="{{ title }}" rel="noopener noreferrer">
                <img class="preview_image" 
                  {% if "https" in preview %}
                    src="./" data-src="$graphic"
                  {% else %}
                    src="$graphic"
                  {% endif %}
                  title="{{ title }}" alt="img" onerror="loadDefaultMapImage(this,&apos;${plugPartner}&apos;);">
                <noscript>
                  <img class="preview_image" src="$graphic" title="{{ title }}" alt="img">
                </noscript>
              </a>
            </p>
          </div>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  {% elseif previews|length == 1 %}
    <div class="preview">
      {% for preview in previews %}
        <a target="_blank" class="external-link" href="{{ preview }}" title="{{ title }}" rel="noopener noreferrer">
            <img class="preview_image"
              {% if "https:" in preview %}
                src="./" data-src="{{ preview }}" 
              {% else %}
                src="{{ preview }}"
              {% endif %}
              title="{{ title }}" alt="img" {#onerror="$loadDefaultMapImage"#}>
            <noscript>
              <img class="preview_image" src="{{ preview }}" title="{{ title }}" alt="img">
            </noscript>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{# Beschreibung #}
  {% if description %}
    <div class="description">
      <small class="description">{{ description }}</small>
    </div>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_address_link (item) %}
  {% set uuid = item.uuid %}
  {% set type = item.type %}
  {% set title = item.title %}
  {% set description = item.description %}

  {# Titel #}
  <div class="no-image">
      <div class="helper icon">
          {{ _self.render_address_icon(type, "TODO", "TODO") }}
      </div>
      <a href="?docuuid={{ uuid }}&type=address" class="icon" title="{{ title }}">
          <span class="text">{{ title }}</span>
      </a>
  </div>
{% endmacro %}

{% macro render_contact_facts (title, items, sortAddressTyp) %}
  {% set break = false %}
  {% for item in items if not break %}
    {% set role = item.role %}
    {% set addresses = item.addresses %}
    {% set streets = item.streets %}
    {% set postcode = item.postcode %}
    {% set city = item.city %}
    {% set country = item.country %}
    {% set mail = item.mail %}
    {% set phone = item.phone %}
    {% set facsimile = item.facsimile %}
    {% set url = item.url %}
    {% set service_time = item.service_time %}

    {# titel #}
    {% if title %}
      {{ _self.render_group_title(title) }}
    {% endif %}
    {% if role %}
      {{ _self.render_fact_title(role) }}
    {% endif %}
    <p>
    {# Adressen #}
    {% set types = sortAddressTyp %}
    {% for type in types %}
        {% for address in addresses %}
            {% if address.type == type %}
                {% if address.uuid %}
                    <a class="link-line" href="?docuuid={{ address.uuid }}&type=address" title="{{ address.title }}">{{ address.title }}</a>
                {% else %}
                    {{ address.title }}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {# Street #}
    {% if streets %}
      {% set countStreets = 0 %}
      {% for street in streets %}
        {{ street }}
        {% set countStreets = countStreets + 1 %}
        {% if countStreets < streets|length %}
          <br>
        {% endif %}
      {% endfor %}
      <br>
    {% endif %}
    {# Postcode #}
    {% if postcode %}
      {{ postcode }}
    {% endif %}
    {# City #}
    {% if city %}
      {{ city }}
      <br>
    {% endif %}
    {# Country #}
    {% if country %}
      {{ country }}
    {% endif %}
    </p>
    {# E-Mail #}
    {% if mail %}
    <div>
        <a class="icon" href="mailto:{{ mail }}" title="{{ mail }}">
            <span class="ic-ic-mailto"></span>
            <span class="text">{{ mail }}</span>
        </a>
    </div>
    {% endif %}
    {# Telefon #}
    {% if phone %}
    <div>
        <a class="icon" href="tel:{{ phone }}" title="{{ phone }}">
            <span class="ic-ic-phone"></span>
            <span class="text">{{ phone }}</span>
        </a>
    </div>
    {% endif %}
    {# Fax #}
    {% if facsimile %}
    <div>
        <a class="icon" href="{{ facsimile }}" title="{{ facsimile }}">
            <span class="ic-ic-fax"></span>
            <span class="text">{{ facsimile }}</span>
        </a>
    </div>
    {% endif %}
    {# URL #}
    {% if url %}
    <div>
        <a target="_blank" class="icon external-link" href="{{ url }}" title="{{ url }}">
            <span class="ic-ic-external"></span>
            <span class="text">{{ url }}</span>
        </a>
    </div>
    {% endif %}
    {# Servicezeiten #}
    {% if service_time %}
    <div>
        Servicezeiten
        {{ service_time }}
    </div>
    {% endif %}
    {% set break = true %}
  {% endfor %}
{% endmacro %}

{% macro render_contact (items, sortAddressTyp, hash) %}
    {% set tmpCount = 0 %}
    {% for item in items %}
        {% set role = item.role %}
        {% set addresses = item.addresses %}
        {% set streets = item.streets %}
        {% set postcode = item.postcode %}
        {% set city = item.city %}
        {% set country = item.country %}
        {% set mail = item.mail %}
        {% set phone = item.phone %}
        {% set facsimile = item.facsimile %}
        {% set url = item.url %}
        {% set service_time = item.service_time %}

        <div class="sub-section">
            <div class="table table--lined">
                <a class="anchor" id="{{ hash }}_contact-{{ tmpCount }}"></a>
                <h5>{{ role }}</h5>
                <table>
                    <tr>
                        <td>
                            <p>
                            {# Adressen #}
                                {% set types = sortAddressTyp %}
                                {% for type in types %}
                                    {% for address in addresses %}
                                        {% if address.type == type %}
                                            {% if address.uuid %}
                                                <a class="link-line" href="?docuuid={{ address.uuid }}&type=address" title="{{ address.title }}">{{ address.title }}</a>
                                            {% else %}
                                                {{ address.title }}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {# Street #}
                                {% if streets %}
                                    {% set countStreets = 0 %}
                                    {% for street in streets %}
                                        {{ street }}
                                        {% set countStreets = countStreets + 1 %}
                                        {% if countStreets < streets|length %}
                                          <br>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                {% endif %}
                            {# Postcode #}
                                {% if postcode %}
                                    {{ postcode }}
                                {% endif %}
                            {# City #}
                                {% if city %}
                                    {{ city }}
                                    <br>
                                {% endif %}
                            {# Country #}
                                {% if country %}
                                    {{ country }}
                                {% endif %}
                            </p>
                        {# E-Mail #}
                            {% if mail %}
                            <div>
                                <a class="icon" href="mailto:{{ mail }}" title="{{ mail }}">
                                    <span class="ic-ic-mailto"></span>
                                    <span class="text">{{ mail }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Telefon #}
                            {% if phone %}
                            <div>
                                <a class="icon" href="tel:{{ phone }}" title="{{ phone }}">
                                    <span class="ic-ic-phone"></span>
                                    <span class="text">{{ phone }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Fax #}
                            {% if facsimile %}
                            <div>
                                <a class="icon" href="{{ facsimile }}" title="{{ facsimile }}">
                                    <span class="ic-ic-fax"></span>
                                    <span class="text">{{ facsimile }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# URL #}
                            {% if url %}
                            <div>
                                <a target="_blank" class="icon external-link" href="{{ url }}" title="{{ url }}">
                                    <span class="ic-ic-external"></span>
                                    <span class="text">{{ url }}</span>
                                </a>
                            </div>
                            {% endif %}
                        {# Servicezeiten #}
                            {% if service_time %}
                            <div>
                                Servicezeiten
                                {{ service_time }}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% set tmpCount = tmpCount + 1 %}
    {% endfor %}
{% endmacro %}

{% macro render_section_text (text) %}
  {% if text %}
    <p>{{ text }}</p>
  {% endif %}
{% endmacro %}

{% macro render_section_text_label (title, text, css) %}
  {% if text %}
    <div class="table table--lined">
        <table>
            <tr>
                {% if title %}
                    <th>{{ title }}</th>
                {% endif %}
                <td>
                    <p {% if css %}class="{{ css }}"{% endif %}>{{ text }}</p>
                </td>
            </tr>
        </table>
    </div>
  {% endif %}
{% endmacro %}