{# @var hit \Grav\Plugin\SearchResultHit #}

<div class="data">
    <div class="teaser-data search">
        <div class="helper icon">
            <span class="ic-ic-webseiten"></span>
            <span class="text">Webseite</span>
        </div>
        <a href="{{ hit.url }}" title="{{ hit.title }}" target="_blank" class="external-link">
            <h2 class="header">{{ hit.title }}</h2>
        </a>
        {% if hit.summary %}
            <p class="data-text">
                {{ hit.summary }}
            </p>
        {% endif %}
        <p>
            <a href="{{ hit.url }}" title="{{ hit.url }}" target="_blank" class="external-link">{{ hit.url }}</a>
        </p>
        <a href="{{ hit.url }}" title="{{ hit.title }}">
            <span class="ic-ic-arrow arrow"></span>
        </a>
    </div>
</div>