{% extends "forms/field.html.twig" %}

{% block input %}
    <div class="form-list-wrapper {{ field.size }}">
        <div class="index-status">
            {% if rss_index_status.status %}
                <button id="rss-index" class="button reindex rss-reindex">{{ "PLUGIN_INGRID_GRAV.RSS.BUTTON_RSS_REINDEXING"|t }}</button>
                <span class="rss-status success"><i class="fa fa-info-circle"></i> {{ rss_index_status.msg }}</span>
            {% else %}
                <button id="rss-index" class="button critical rss-reindex">{{ "PLUGIN_INGRID_GRAV.RSS.BUTTON_RSS_INDEXING"|t }}</button>
                <span class="rss-status error"><i class="fa fa-warning"></i> {{ rss_index_status.msg }}</span>
            {% endif %}
            <div class="warning rss-error-details"></div>
        </div>
    </div>
{% endblock %}