{# @var hit \Grav\Plugin\SearchResultHit #}
{% import 'macros/hit_macros.html.twig' as hit_macros %}

{% set detailLink = page.find('/detail').url ~ "?docuuid=" ~ hit.uuid ~ "&type=address" %}
{% set queries = uri.query(null, true) %}
{% for key, param in queries %}
    {% set detailLink = detailLink ~ '&' ~ key|url_encode ~ '=' ~ param|url_encode %}
{% endfor %}

<div class="data">
    <div class="teaser-data search">
        {% if hit.uuid %}
            <a class="anchor" id="{{ 'hit_' ~ counter }}"></a>
        {% endif %}
        <div class="helper icon">
            {{ hit_macros.render_address_icon(hit.type, ("COMMON.UDK_ADR_CLASS_NAME_" ~ hit.type)|t) }}
        </div>
        <a href="{{ detailLink }}" title="{{ hit.title }}">
            <h2 class="header">{{ hit.title }}</h2>
        </a>
        {% if hit.summary %}
        <p class="data-text">
            {{ hit.summary }}
        </p>
        {% endif %}
        <a href="{{ detailLink }}" title="{{ "COMMON.DETAIL_ARROW_PREFIX"|t ~ " " ~ hit.title }}">
            <span class="ic-ic-arrow arrow"></span>
        </a>
    </div>
</div>