{# Geometrie-Kontext #}

{% if infoRefs.geometryContext and infoRefs.geometryContext|length > 0 %}
    <div class="table table--lined--sub ">
        <h5>{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT"|t }}</h5>
        <table>
            <thead>
                <tr>
                    <th>{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT_TYPE"|t }}</th>
                    <th>{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT_NAME"|t }}</th>
                    <th colspan="2">{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT_DESCRIPTION"|t }}</th>
                </tr>
            </thead>
            {% for geometryContext in infoRefs.geometryContext %}
                {% set hasFeatures = geometryContext.features and geometryContext.features|length > 0 %}
                {% set rowSpan = 2 %}
                {% if hasFeatures %}
                    {% set rowSpan = geometryContext.features|length + 2 %}
                {% endif %}
                <tr>
                    <td {% if hasFeatures %}class="rowspan" rowspan="{{ rowSpan }}"{% endif %}>
                        {{ geometryContext.type }}
                    </td>
                    <td {% if hasFeatures %}class="rowspan" rowspan="{{ rowSpan }}"{% endif %}>
                        {{ geometryContext.name }}
                    </td>
                    <td {% if hasFeatures %}colspan="4"{% endif %}>
                        {{ geometryContext.description }}
                    </td>
                </tr>
                {% if hasFeatures %}
                    <tr class="table--sub--header">
                        <th>{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT_FEATURE_CODE"|t }}</th>
                        <th colspan="3">{{ "SEARCH_DETAIL.GEOMETRICS_CONTEXT_FEATURE_DESCRIPTION"|t }}</th>
                    </tr>
                    {% for feature in geometryContext.features %}
                        <tr class="table--sub--content">
                            <td>{{ feature.code }}</td>
                            <td colspan="3">{{ feature.description }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endif %}
