{# Informationen zum Metadatensatz #}
{% set displayISOXML = theme_var('hit_detail.csw_enabled') %}
{% set cswURL = theme_var('hit.csw_url') %}
{% set rdfURL = theme_var('hit_detail.rdf_enabled') %}
{% set displayRDFXML = theme_var('hit.rdf_url') %}

<div class="section">
    <a class="anchor" id="{{ hash_metadata_info }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.SUBJECT_METADATA_INFO"|t) }}
{# Objekt-ID #}
    {{ hit_macros.render_text_label("SEARCH_DETAIL.T01_OBJECT_OBJ_ID"|t, metaInfoRefs.uuid) }}
{# Datum #}
    {% set dateFormat = "d.m.Y" %}
    {% if "T" in metaInfoRefs.mod_time  %}
        {% set dateFormat = "d.m.Y H:i:s" %}
    {% endif %}
    {{ hit_macros.render_text_label("SEARCH_DETAIL.T01_OBJECT_MOD_TIME"|t, metaInfoRefs.mod_time|date(dateFormat, false)) }}
{# Sprache Metadatensatz #}
    {{ hit_macros.render_text_label("SEARCH_DETAIL.T01_OBJECT_METADATA_LANGUAGE"|t, metaInfoRefs.lang) }}
{# Weitere #}
    {% include 'partials/detail/metadata/parts/metadata_info/metadata_info_others.html.twig' %}
{# Datensatz/Datenserie #}
    {% if class == 1 %}
        {{ hit_macros.render_text_label("SEARCH_DETAIL.T011_OBJ_GEO_HIERARCHY_LEVEL"|t, metaInfoRefs.hierarchy_level) }}
    {% endif %}
{# XML Darstellung  #}
    {% if displayISOXML and cswURL %}
        {{ hit_macros.render_link_label("COMMON.XML_LINK_LABEL"|t, "COMMON.XML_LINK"|t, cswURL ~ uuid, "download") }}
    {% endif %}
{# RDF Darstellung  #}
    {% if displayRDFXML and rdfURL %}
        {{ hit_macros.render_link_label("COMMON.RDF_LINK_LABEL"|t, "COMMON.RDF_LINK_LABEL"|t, rdfURL ~ uuid, "download" ) }}
    {% endif %}
{# Ansprechpartner (Metadatum) #}
    {{ hit_macros.render_link_list_label(metaInfoRefs.contact_meta.role ~ " (" ~ "SEARCH_DETAIL.POINTOFCONTACT_METADATA"|t ~ ")", metaInfoRefs.contact_meta.mail, "mail" ) }}
{# Metadatenquellen #}
    {% if metaInfoRefs.plug_data_source_name or metaInfoRefs.plug_providers %}
    <div class="table table--lined">
        <table>
            <tbody>
                <tr>
                    <th>{{ "SEARCH_DETAIL.METADATA_SOURCE"|t }}</th>
                    <td>
                        <div>
                            {{ metaInfoRefs.plug_data_source_name }}
                        </div>
                    </td>
                </tr>
                {% for provider in metaInfoRefs.plug_providers %}
                    <tr>
                    <th></th>
                    <td>
                        <div>
                            {{ provider }}
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>