{# Zeitbezug #}

{% if hasTimeData %}
    <div class="sub-section">
        <a class="anchor" {% if isTimeInDescription %}id="{{ hash_description }}_time_reference"{% else %}id="{{ hash_time }}_time_reference"{% endif %}></a>
        {% if class == 1 or class == 3 or class == 5 or class == 6 %}
            {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE_CONTENT"|t %}
        {% else %}
            {% set tmpTitle = "SEARCH_DETAIL.TIME_REFERENCE"|t %}
        {% endif %}
        {{ hit_macros.render_group_title(tmpTitle) }}

    {# Durch die Ressource abgedeckte Zeitspanne #}
        {% set toIndeterminate = "" %}
        {% if timRef.fromType and timRef.fromType == "now" %}
            {% set toIndeterminate = "COMMON.TIME_UNTILNOW"|t %}
        {% else %}
            {% set toIndeterminate = "COMMON.TIME_UNTILUNKNOWN"|t %}
        {% endif %}
        {% if timeRefs.beginTime or timeRefs.endTime or timeRefs.atTime %}
            {% set atTime = timeRefs.atTime ? timeRefs.atTime|date("d.m.Y", false) : "" %}
            {% set beginTime = timeRefs.beginTime ? timeRefs.beginTime|date("d.m.Y", false) : "" %}
            {% set endTime = timeRefs.endTime ? timeRefs.endTime|date("d.m.Y", false) : "" %}
            {% if atTime %}
                {{ hit_macros.render_text(tmpTitle, "COMMON.TIME_AT"|t ~ " " ~ atTime) }}
            {% elseif beginTime == endTime %}
                {{ hit_macros.render_text(tmpTitle, "COMMON.TIME_AT"|t ~ " " ~ beginTime) }}
            {% elseif beginTime and endTime is empty %}
                {{ hit_macros.render_text(tmpTitle, "COMMON.TIME_SINCE"|t ~ " " ~ beginTime ~ toIndeterminate) }}
            {% elseif beginTime is empty and endTime %}
                {{ hit_macros.render_text(tmpTitle, "COMMON.TIME_UNTIL"|t ~ " " ~ endTime) }}
            {% elseif beginTime != endTime %}
                {{ hit_macros.render_text(tmpTitle, "COMMON.TIME_FROM"|t ~ " " ~ beginTime ~ " " ~ "COMMON.TIME_TO"|t ~ " " ~ endTime) }}
            {% endif %}
        {% endif %}
    {# Zeitliche Genauigkeit #}
        {{ hit_macros.render_text("SEARCH_DETAIL.TIME_MEASUREMENT"|t, timeRefs.measureValue ~ timeRefs.measureUnit) }}
    {# Status #}
        {{ hit_macros.render_text("SEARCH_DETAIL.T01_OBJECT_TIME_STATUS"|t, timeRefs.status, "text-capitalize") }}
    {# Periodizität #}
        {{ hit_macros.render_text("SEARCH_DETAIL.T01_OBJECT_TIME_PERIOD"|t, timeRefs.period, "text-capitalize") }}
    {# Intervall der Erhebung #}
        {{ hit_macros.render_text("SEARCH_DETAIL.T01_OBJECT_TIME_INTERVAL"|t, timeRefs.interval) }}
    {# Erläuterung zum Zeitbezug #}
        {{ hit_macros.render_text("SEARCH_DETAIL.T01_OBJECT_TIME_DESCR"|t, timeRefs.descr) }}
    </div>
{% endif %}

