{# Zeitbezug der Ressource #}
{% if hasTimeResource %}
    <div class="sub-section">
        <a class="anchor" {% if isTimeInDescription %}id="{{ hash_description }}_time_reference_record"{% else %}id="{{ hash_time }}_time_reference_record"{% endif %}></a>
        {{ hit_macros.render_group_title("SEARCH_DETAIL.TIME_REFERENCE_RECORD"|t) }}
{# Erstellung #}
        {{ hit_macros.render_section_text_label("creation TODO", timeRefs.creation|date("d.m.Y", false) ) }}
{# Publikation #}
        {{ hit_macros.render_section_text_label("publication TODO", timeRefs.publication|date("d.m.Y", false) ) }}
{# letzte Änderung #}
        {{ hit_macros.render_section_text_label("revision TODO", timeRefs.revision|date("d.m.Y", false) ) }}
    </div>
{% endif %}