{% set header_logo_enabled = theme_var('header.logo_enabled') %}

<div class="row">
    {% if header_logo_enabled %}
        {% set logo = theme_var('header.logo') %}
        {% set logo_lang = theme_var('header.logo_' ~ grav.language.getLanguage) %}
        {% if logo_lang %}
            {% set logo = logo_lang %}
        {% endif %}
        <div class="columns xsmall-12 small-12 medium-8 large-7 xlarge-7">
            <div class="logo" role="banner">
                <a href="{{ home_url }}" title="{{ "PAGES.HOME_MENU_TITLE"|t(header_title_extend) }}">
                {% if logo %}
                    {% set header_logo_file = (logo|last).name %}
                {% else %}
                    {% set header_logo_file = 'logo.svg' %}
                {% endif %}
                    <img src="{{ url('theme://images/logo/' ~ header_logo_file) }}" alt="{{ site.title }}" />
                </a>
            </div>
        </div>
    {% endif %}
    <div class="columns">
        <div class="desktop__title">
            <a href="{{ page.find('/home').url }}" title="{{ "PAGES.HOME_MENU_TITLE"|t(header_title_extend) }}">{{ "PAGES.HEADER_TITLE_MAIN"|t }}</a>
        </div>
    </div>
</div>