{# Messdaten #}

<div class="section">
    <a class="anchor" id="{{ hash_measurement }}"></a>
    {{ hit_macros.render_title("SEARCH_DETAIL.MEASUREMENT.TITLE"|t) }}
    <div class="sub-section">
    {# Raumbezugssystem (Höhe) #}

    {# Vertikale Ausdehnung (Min/Max) #}

    {# Bwstr Bezug (Name / Kennung) #}

    {# Messverfahren #}
        {{ hit_macros.render_label_text_list_row("Messverfahren", measurement.measuringMethod) }}
    {# Messgerät (Name/ID/Modell) #}
        {% set header = [
            "Gerätename",
            "Geräte-ID",
            "Gerätemodell",
            "Beschreibung"
        ] %}
        {{ hit_macros.render_table("Messgerät", header, measurement.gauge) }}
    {# Zielparameter #}
        {% set header = [
            "Name",
            "Art",
            "Einheit",
            "Formel/Funktion"
        ] %}
        {{ hit_macros.render_table("Zielparameter", header, measurement.targetParameters) }}
    {# Räumlichkeit #}

    {# Messtiefe #}

    {# Frequenz der Messung #}

    {# Gemittelter Wasserstand #}

    {# Pegelnullpunkt #}

    {# Abfluss (min/max) #}

    {# Datenqualität (Beschreibung) #}

    {# Zeitliche Genauigkeit #}

    </div>
    {# Messdaten Bautechnik #}
    {% include 'partials/detail/metadata/parts/measurement/measurement_bautechnik.html.twig' ignore missing %}
</div>