{% do assets.addJs('theme://js/map.js') %}

{% set map_epsg = theme_var('map.leaflet.epsg') %}
{% set map_bg_wmts = theme_var('map.leaflet.bg.layer.wmts.url') %}
{% set map_bg_wms = theme_var('map.leaflet.bg.layer.wms') %}
{% set map_bg_attribution = theme_var('map.leaflet.bg.layer.attribution') %}
{% set map_bg_opacity = theme_var('map.leaflet.bg.layer.opacity') %}

<div id="search-map" style="height: 200px;"></div>

<script>
    let bbox = null;
    const url = new URL(location.href);
    let bboxParameter = url.searchParams.get("bbox");
    if (bboxParameter) {
        const splittedBbox = bboxParameter.split(",");
        if (splittedBbox.length === 4) {
            bbox = [[splittedBbox[1], splittedBbox[0]], [splittedBbox[3], splittedBbox[2]]]
        }
    }

    const triggerNominatimOnInput = true;

    var epsg = L.CRS.EPSG3857;
    if ('{{ map_epsg }}'.length > 0) {
        epsg = L.CRS.EPSG{{ map_epsg }};
    }

    initSearchMap(
        epsg,
        '{{ map_bg_wmts }}',
        '{{ map_bg_wms.url }}',
        '{{ map_bg_wms.name }}',
        '<a href="https://leafletjs.com" title="Leaflet">Leaflet</a> | {{ map_bg_attribution|raw }}',
        {{ map_bg_opacity }},
        'https://nominatim.openstreetmap.org/search?q={query}&format=json&countrycodes={countries}',
        triggerNominatimOnInput,
        bbox);
</script>
