{% do assets.addJs('theme://js/map.js') %}

{% set map_epsg = theme_var('map.leaflet.epsg') %}
{% set map_bg_wmts = theme_var('map.leaflet.bg.layer.wmts.url') %}
{% set map_bg_wms = theme_var('map.leaflet.bg.layer.wms') %}
{% set map_bg_attribution = theme_var('map.leaflet.bg.layer.attribution') %}
{% set map_bg_opacity = theme_var('map.leaflet.bg.layer.opacity') %}
{% set map_geocoder = theme_var('map.leaflet.geocoder.service') %}
{% set map_position = theme_var('map.leaflet.position') %}
{% set map_bbox = theme_var('map.leaflet.bbox') %}

<div id="search-map" class="map-ingrid" style="height: 350px;outline-style: none;"></div>

<script>
    let bbox = null;
    const url = new URL(location.href);
    let bboxParameter = url.searchParams.get("bbox");
    if (bboxParameter) {
        const splittedBbox = bboxParameter.split(",");
        if (splittedBbox.length === 4) {
            bbox = [[splittedBbox[1], splittedBbox[0]], [splittedBbox[3], splittedBbox[2]]]
        }
    }

    const triggerNominatimOnInput = true;

    var epsg = L.CRS.EPSG3857;
    if ('{{ map_epsg }}'.length > 0) {
        epsg = L.CRS.EPSG{{ map_epsg }};
    }

    initSearchMap(
        epsg,
        '{{ map_bg_wmts }}',
        '{{ map_bg_wms.url }}',
        '{{ map_bg_wms.name }}',
        '<a href="https://leafletjs.com" title="Leaflet">Leaflet</a> | {{ map_bg_attribution|raw }}',
        {{ map_bg_opacity }},
        '{{ map_geocoder|raw }}',
        triggerNominatimOnInput,
        [{{ map_position }}],
        bbox,
        {
            color: '{{ map_bbox.color }}',
            opacity: '{{ map_bbox.color }}',
            weight: '{{ map_bbox.weight }}'
        }
    );
    searchMapSmall.invalidateSize();
{% if not active %}
    $('#{{ id }}').removeClass('is-active');
    $('#{{ id }}').children('.accordion-content').css('display','none');
{% endif %}
</script>
